@font-face {
    font-family: 'helvatica';
    src:url('../font/helvatica/helvativa-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helvatica';
    src:url('../font/helvatica/helvativa-medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'helvatica';
    src:url('../font/helvatica/helvativa-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}