
.demo {
    position: absolute;
    width: 150px;
    left: 50%;
    z-index: 10000;
    margin: 0 auto;
    top: 50%;
    display: none;
}

.loader {
    position: absolute;
    opacity: .7;
}

.loader circle {
    animation: draw 4s infinite ease-in-out;
    transform-origin: center;
    transform: rotate(-90deg);
}

.loader-2 circle,
.loader-6 circle {
    animation-delay: 1s;
}

.loader-7 circle {
    animation-delay: 2s;
}

.loader-4 circle,
.loader-8 circle {
    animation-delay: 3s;
}

.loader-3 {
    left: -150px;
    transform: rotateY(180deg);
}

.loader-6,
.loader-7,
.loader-8 {
    left: -150px;
    transform: rotateX(180deg) rotateY(180deg);
}

.loader-5 circle {
    opacity: .2;
}

@keyframes draw {
    50% {
        stroke-dashoffset: 0;
        transform: scale(.5);
    }
}
