body {background: #f5f5f5;margin: 0;padding: 0;font-family: sans-serif;}
h3 {text-align: center;}
.wrapper {width: 980px;margin: 0 auto;background: #fff;padding:0 1em;line-height: 1.5em;}
table {width: 100%;}
table tr td {height: 20px;}
.mkbrdr {border:1px solid #999;}
.footbrdr {border-top:1px solid #999;}
.mkfull {width: 100%;}
.mkhalf {width: 50%;}
.mkcenter {text-align: center;}
.smtxt {font-size: 13px;text-align: center;}


/* Receipt Voucher */
table tr td {width: 100%;}
.upbrdr {border-top:1px solid #999;}
.roundbox {height: 20px; border: 1px solid #999; border-radius: 4px;}
.dotted {background: none; border-bottom: 1px dotted #999; border-top: 0;border-left: 0;border-right: 0;}
.tdata {width: 33%;}
.tpad {padding: 0 1em;}
