body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    position: relative;
    margin: 0px;
    font-size: 12px;
    padding: 0px;
    /*-webkit-font-smoothing: antialiased;*/ }

h1, h2, h3, h4, h5 {
    margin: 0;
    line-height: inherit;
    color: #29323d; }
h1 small, h2 small, h3 small, h4 small, h5 small {
    margin-left: 15px;
    font-style: italic; }

body.menu {
    overflow-x: hidden; }
body.menu .content {
    margin-left: 165px;
    position: fixed;
    width: 850px; }
body.menu #sidebar-nav {
    position: absolute;
    left: 0;
    /*height: 100%;*/
    border-right: 0px;
    box-shadow: none; }



.left{float:left;display: inline-block;margin-bottom: 5px;font-weight: bold;margin-left: 9px;}
.right{float:right;display: inline-block;margin-bottom: 5px;font-weight: bold;margin-left: 9px;}
.CSSTableGenerator {
    margin:0px;
    padding:0px;
    width:100%;
    /*box-shadow: 10px 10px 5px #888888;*/
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;	/*
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;*/
    float: left;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
    background-color:#4a8bc2;


}
.CSSTableGenerator td{
    vertical-align:middle;
    background-color:#f7f7f7;
    text-align:left;
    padding:7px;
    font-size:12px;
    letter-spacing:1px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.CSSTableGenerator td a{
    font-size:12px;
    letter-spacing:1px;
    font-family:Arial;
    font-weight:bold;
    color:#000;
}

.CSSTableGenerator tr:last-child td{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.CSSTableGenerator tr:first-child td{
    /*		background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
    background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);
    */
    text-align:left;
    border-width:0px 0px 1px 1px;
    font-size:11px;
    letter-spacing:1px;	
    /*font-family:Arial;*/
    font-weight:bold;
    color:#000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;

    background-repeat: repeat-x;
    background-position: center top;
}

thead tr th {
    padding: 6px;
    text-align:left;
    border-width:0px 0px 1px 1px;
    font-size:12px;
    letter-spacing:1px;	
    /*font-family:Arial;*/
	background-color: #EFEFEF;
    text-align: center;
    font-weight:bold;
    /*color:#ffffff;*/
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-image: url(../imagtes/internal/table_top_bg.jpg);
    background-repeat: repeat-x;
    background-position: center top;	
}
.CSSTableGenerator tr:first-child:hover td{
    /*
    background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
    background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);
    */

    background-color:#4a8bc2;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.grand-total td, .grand-total th {
    display: table-cell;
    vertical-align: inherit;
	background-color: #CCC;
    text-align: center;
}

#product_list table  {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.form {
    /*border-top-width: 6px; 
    border-right-width: 1px; 
    border-bottom-width: 6px; 
    border-left-width: 1px; 
    border-top-color: #859cb6; 
    border-right-color: #335a85; 
    border-bottom-color: #859cb6; 
    border-left-color: #335a85; 
    background-color: #f2f2f2; */
}
.form {
    float: left;
    width: 100%;
    /*border-top-width: 6px;
    border-right-width: 1px;
    border-bottom-width: 6px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #9BA3AD;
    border-right-color: #D9EDF7;
    border-bottom-color: #9BA3AD;
    border-left-color: #D9EDF7;
    background-color: #f2f2f2;
    font-weight: bold;*/
    margin: auto;
    padding: 10px;
}

.fright{float: right;}
.fwidth0{width:45%}
.fwidth1{width:80%}
.fwidth2{width:10%}

.highlight{background-color: yellow;}


input.search {
    background: url("../../img/lens.png") #fcfcfc no-repeat 95%;
    box-shadow: none;
    height: 25px;
    width: 220px;
    font-size: 13px;
    padding: 2px 6px;
    border: 1px solid #633d31;
    margin: 0;
    border-radius: 2px;
    top: 11px; }

.header {
    margin-bottom: 60px; }
.header h1, .header h2, .header h3, .header h4, .header h5 {
    float: left;
    margin-top: 5px; }

/* Custom navbar stuff */
/* search input */
.navbar-inverse {
    /* navbar settings and logout icons */
    /* notification menu with custom dropdowns */
    /* navbar popup dialog */ }
.navbar-inverse input.search {
    height: 27px;
    width: 220px;
    padding: 3px 6px;
    background: url("../../img/lens.png") #E7E7E7 no-repeat 95%;
    border: 1px solid #633D21;
    position: relative;
    border-radius: 4px;
    top: 9px;
    color: #000;
    font-size: 13px;
    margin-right: 40px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;


}
.navbar-inverse input.search:focus {
    background-color: #fff;
    border: 0; }
.navbar-inverse .settings i {
    color: #633d21;
    font-size: 21px; }
.navbar-inverse .notification-dropdown {
    position: relative; }
.navbar-inverse .notification-dropdown > a:hover,
.navbar-inverse .notification-dropdown > a.active {
    background: #254261 !important;
    box-shadow: inset 1px 0px 1px 0px #3e5a79; }
.navbar-inverse .notification-dropdown i {
    font-size: 17px;
    color: #633d21; }
.navbar-inverse .notification-dropdown .count {
    position: absolute;
    top: 1px;
    left: 58%;
    background: #bc34ba;
    padding: 0px 5px;
    border-radius: 30px;
    color: #fff;
    line-height: 16px;
    z-index: 9999;
    text-align: center;
    font-size: 11px; }
.navbar-inverse .pop-dialog {
    position: absolute;
    right: -10px;
    top: 55px;
    display: none;
    /* navbar popup dialog for notifications */
    /* navbar popup dialog for messages */ }
.navbar-inverse .pop-dialog.is-visible {
    display: block;
    -webkit-animation: reveal .2s ease-out;
    -moz-animation: reveal .2s ease-out;
    animation: reveal .2s ease-out; }
.navbar-inverse .pop-dialog .body {
    box-shadow: 0px 1px 9px 1px #c2c2c2; }
.navbar-inverse .pop-dialog .close-icon {
    float: right;
    text-decoration: none;
    z-index: 9999;
    position: relative; }
.navbar-inverse .pop-dialog .footer {
    border-top: 1px solid #e6e8e9;
    background-color: #eff4f7;
    margin: 15px 0px -10px 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 12px 20px;
    text-align: center; }
.navbar-inverse .pop-dialog .footer a {
    font-weight: 600;
    color: #7d91a8; }
.navbar-inverse .pop-dialog .notifications {
    width: 330px;
    margin: 10px -10px 0px -10px; }
.navbar-inverse .pop-dialog .notifications h3 {
    font-size: 13px;
    color: #404951;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px; }
.navbar-inverse .pop-dialog .notifications .item {
    display: block;
    padding: 10px 0px 8px 20px;
    border-top: 1px solid #e7e8ea;
    color: #363636;
    text-decoration: none;
    padding-left: 50px;
    position: relative;
    transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear; }
.navbar-inverse .pop-dialog .notifications .item:hover {
    background: #f0f6ff; }
.navbar-inverse .pop-dialog .notifications .item > i {
    color: #fc827b;
    position: absolute;
    left: 19px;
    font-size: 18px; }
.navbar-inverse .pop-dialog .notifications .item > i.icon-user {
    left: 18px; }
.navbar-inverse .pop-dialog .notifications .item .time {
    float: right;
    color: #82a3c1;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    min-width: 60px;
    margin-right: 5px; }
.navbar-inverse .pop-dialog .notifications .item .time i {
    font-size: 13px;
    color: #cfcfcf;
    margin-right: 1px; }
.navbar-inverse .pop-dialog .messages {
    width: 325px;
    margin: 10px -10px 0px -10px; }
.navbar-inverse .pop-dialog .messages .item {
    display: block;
    padding: 10px 20px 15px 20px;
    height: 80px;
    border-bottom: 1px solid #e7e8ea;
    color: #363636;
    text-decoration: none;
    position: relative;
    transition: all .25s linear;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear; }
.navbar-inverse .pop-dialog .messages .item.last {
    border-bottom: 0px; }
.navbar-inverse .pop-dialog .messages .item:hover {
    background: #f0f6ff; }
.navbar-inverse .pop-dialog .messages .item .display {
    float: left;
    border-radius: 50px;
    margin-right: 15px; }
.navbar-inverse .pop-dialog .messages .item .name {
    font-size: 12px;
    color: #404951;
    font-weight: bold; }
.navbar-inverse .pop-dialog .messages .item .msg {
    font-size: 11px;
    color: #636363;
    line-height: 13px;
    position: relative;
    top: 2px; }
.navbar-inverse .pop-dialog .messages .item .time {
    position: absolute;
    right: 0px;
    bottom: 6px;
    color: #82a3c1;
    font-style: italic;
    font-weight: 600;
    font-size: 11px;
    min-width: 60px;
    margin-right: 5px; }
.navbar-inverse .pop-dialog .messages .item .time i {
    font-size: 13px;
    color: #cfcfcf;
    margin-right: 1px; }
.navbar-inverse .pop-dialog .messages .footer {
    margin-top: 6px; }

/* Sidebar */
#sidebar-nav {
    /*position: absolute;
    width: 180px;
    float: left;
    margin: 0em;*/
    position: absolute;
    width: 215px;
    float: right;
    margin-right: 20px;
    right: 0px;
    text-align: right;
/*    padding-top: 5.8em; */}
#sidebar-nav #dashboard-menu {
    list-style: none;
/*    padding-right: 15px;
    padding-left: 15px;*/
    margin-bottom: 0;
/*    margin-left: -45px;*/
    /* sidebar submenus */ }
#sidebar-nav #dashboard-menu > li > a {
    display: block;
    padding: 19px 14px 15px 14px;
    margin-left: -15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    color: #6e829b;
    outline: 0px;
    line-height: 21px; }
#sidebar-nav #dashboard-menu > li {
    position: relative;
    /* font awesome icon */ }
#sidebar-nav #dashboard-menu > li .icon-group {
    font-size: 22px; }
#sidebar-nav #dashboard-menu > li i {
    font-size: 23px;
    top: 17px; }
#sidebar-nav #dashboard-menu > li:hover i {
    opacity: 1; }
#sidebar-nav #dashboard-menu > li.active > a,
#sidebar-nav #dashboard-menu > li > a:hover {
    color: #33455a;
    text-decoration: none; }
#sidebar-nav #dashboard-menu > li.active a {
    font-weight: 600;
    text-shadow: 1px 1px 1px #fff; }
#sidebar-nav #dashboard-menu > li.active i {
    opacity: 1; }
#sidebar-nav #dashboard-menu .pointer {
    position: absolute;
    right: 9px;
    top: 20px; }
#sidebar-nav #dashboard-menu .pointer .arrow,
#sidebar-nav #dashboard-menu .pointer .arrow_border {
    border-color: transparent #fff transparent transparent;
    border-width: 11px;
    border-style: solid;
    font-size: 0;
    left: 50%;
    line-height: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1002;
    left: 0;
    margin-left: 45%; }
#sidebar-nav #dashboard-menu .pointer .arrow_border {
    border-color: transparent #c0d2dd transparent transparent;
    border-width: 11px;
    margin-left: -1px;
    border-style: solid;
    z-index: 1001;
    top: 0px; }
#sidebar-nav #dashboard-menu a span {
    margin-left: 35px;
    transition: color .1s linear;
    -moz-transition: color .1s linear;
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear; }
#sidebar-nav #dashboard-menu a.ui-elements span {
    margin-left: 25px; }
#sidebar-nav #dashboard-menu a i {
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    opacity: 0.7;
    transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease; }
#sidebar-nav #dashboard-menu a i.icon-chevron-down {
    position: relative;
    float: right;
    top: 5px;
    font-size: 11px;
    color: #686868;
    width: initial;
    height: initial; }
#sidebar-nav #dashboard-menu > li.active .dropdown-toggle,
#sidebar-nav #dashboard-menu > li.open .dropdown-toggle {
    border-bottom: 0px;
    box-shadow: none; }
#sidebar-nav #dashboard-menu ul.submenu {
    list-style-type: none;
    display: none;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 30px;
    padding-left: 15px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
    padding-bottom: 10px; }
#sidebar-nav #dashboard-menu ul.submenu.active {
    display: block; }
#sidebar-nav #dashboard-menu ul.submenu a {
    font-weight: normal;
    font-size: 13px;
    color: #4c535a;
    text-decoration: none;
    display: block;
    margin-bottom: 7px; }
#sidebar-nav #dashboard-menu ul.submenu a:hover {
    text-decoration: underline; }
#sidebar-nav #dashboard-menu ul.submenu a.active {
    font-weight: bold;
    text-shadow: none; }

#pad-wrapper {
    padding: 0px 20px;
    margin-top: 15px;
    direction: rtl;
    text-align: right;
}
#pad-wrapper h4 {
    color: #000;
	text-shadow: 0 1px 0 #CCC;
 }
 
 .mycontent {
    background: #f4f4f4;
    -webkit-border-radius: 4px !important;
	
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    border: 1px solid #d3d3d3;
 }

.content {
    min-width: 400px;
    min-height: 620px;
    margin-bottom: 100px;
    margin-top: -17px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-right: 235px;
    border-right: 1px solid #dae3e9;
    border-bottom: 1px solid #dae3e9;
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 0px 0px 0px 5px;
    -webkit-transition: margin-left .3s ease;
    -moz-transition: margin-left .3s ease;
    -o-transition: margin-left .3s ease;
    -ms-transition: margin-left .3s ease;
    transition: margin-left .3s ease;
    /* starts skins changer */
    /* end skin changer*/ }
.content.wide-content {
    margin-left: 0;
    border-radius: 0; }
.content .skins-nav {
    opacity: 1;
    -webkit-transition: right .3s;
    -moz-transition: right .3s;
    -ms-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
    position: fixed;
    right: -88px;
    top: 135px;
    font-size: 13px;
    z-index: 9999; }
.content .skins-nav:hover {
    right: 0; }
.content .skins-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
    height: 37px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin-bottom: 3px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
.content .skins-nav a.first_nav {
    background: rgba(95, 175, 228, 0.8); }
.content .skins-nav a.first_nav:hover {
    background: #5fafe4; }
.content .skins-nav a.second_nav {
    background: rgba(36, 43, 77, 0.8); }
.content .skins-nav a.second_nav:hover {
    background: #242b4d; }
.content .skins-nav a .icon {
    float: left;
    width: 9px;
    height: 10px;
    background: url("../../img/skin-nav-bullets.png") 0 0 no-repeat;
    margin: 15px 15px 0 5px; }
.content .skins-nav a.selected .icon {
    background-position: 0 -9px; }
.content .skins-nav a .text {
    padding-right: 12px;
    white-space: nowrap;
    display: block;
    width: 115px;
    position: relative;
    top: 9px;
    -webkit-transition: width .2s;
    -moz-transition: width .2s;
    -ms-transition: width .2s;
    -o-transition: width .2s;
    transition: width .2s; }

/* responsive */
@media (max-width: 768px) {
    #pad-wrapper {
        padding: 0px 15px; }

    .content {
        min-width: 0px;
        margin: 0; }

    #dashboard-menu .pointer {
        display: none; }

    #sidebar-nav {
        left: -200px;
        position: fixed;
        z-index: 9999;
        background-color: #f7f7f7;
        padding-top: 0px;
        border-right: 1px solid #ccc;
        width: 165px;
        box-shadow: 1px 1px 4px 1px #e9e9e9;
        -webkit-transition: left .3s ease;
        -moz-transition: left .3s ease;
        -o-transition: left .3s ease;
        -ms-transition: left .3s ease;
        transition: left .3s ease; }

    #sidebar-nav #dashboard-menu {
        margin-left: 10px; }

    #sidebar-nav #dashboard-menu li a span {
        visibility: visible; }

    #sidebar-nav #dashboard-menu li:last-child a {
        border-bottom: 0px;
        box-shadow: none; } }
@media (max-width: 822px) {
    .navbar-inverse input.search {
        display: none; } }
@media (max-width: 767px) {
    #main-stats .stat {
        width: 50%;
        float: left; } }


/***/	
.print_icon {
    background-image: url(../../images/internal/print_btn_big.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    
    font-size: 1px;
    font-weight: normal;
    text-decoration: none;
}
.send_icon {
    background-image: url(../../images/internal/send_btn_big.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.delete_icon{
    background-image: url(../../images/internal/delete.png);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.edit_icon{
    background-image: url(../../images/internal/edit.png);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.add_icon {
    background-image: url(../../images/internal/add_new.png);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.ignore_icon {
    background-image: url(../../images/internal/ignore.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.stop_icon{
    background-image: url(../../images/internal/stop.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.safe_icon{
    background-image: url(../../images/internal/safe.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.cancel_icon{
    background-image: url(../../images/internal/cancel_btn.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;}
.reactive_icon{
    background-image: url(../../images/internal/reactive.png);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;}
.pay_icon{
    background-image: url(../../images/internal/pay.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;}
.block_icon{
    background-image: url(../../images/internal/block.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;}
.unblock_icon{
    background-image: url(../../images/internal/unblock.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.reset_icon{
    background-image: url(../../images/internal/reset.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;}
.enlarge_icon{
    background-image: url(../../images/internal/enlarge.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;}
.pdf_icon {
    background-image: url(../../images/internal/pdf.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}
.word_icon {
    background-image: url(../../images/internal/word.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 56px;
    width: 86px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0px;
}

#basic-modal-content {display:none;}
#basic-modal{
    cursor:pointer;}
/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {min-height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {
    background:#141414;
    border-left:3px solid #65B43D;
    color:#bbb;
    display:block;
    font-size:12px;
    margin-bottom:12px;
    float: left;
    width: 98%;
    padding-top: 4px;
    padding-right: 1%;
    padding-bottom: 6px;
    padding-left: 1%;
}
.pop_title{width:200px; float:left; text-align:left}
.pop_txt{width:auto; float:left;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../../images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {
    color:#84b8d9;
    margin-top: 5px;
    margin-bottom: 5px;
}



/*****/





.raw_payments {
    float: left;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    background-color: #D8D8D8;
    color: #333;
}
.invoice_raw {
    float: left;
    width: 100%;
    margin-top: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #D6D6D6;
    padding-bottom: 4px;
}
.ui-select {
   /* float: left;*/
    margin-top: 2px;
}
.left_div_txt {
    
    font-weight: bold;
    float: left;
    min-width: 110px;
    margin-right: 5px;
    padding-top: 5px;
}
.invoice_no2 {
    float: left;
    width: auto;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.left_div {
    float: left;
    width: auto;
    margin-right: 5px;
    margin-top: 0px;
}
.invoice_dis {
    color: #2B2B2B;
    width: 100%;
    font-size: 13px;
    background-color: #E8E8E8;
    padding-top: 7px;
    padding-right: 1%;
    padding-bottom: 7px;
    padding-left: 1%;
    float: left;
}
.invoice_dis span {
    font-weight: bold;
    color: #FFF;
    background-color: #464646;
    width: auto;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-top: -7px;
    margin-left: -1%;
    float: left;
    margin-right: 10px;
}
.dis_txtarea {
    background-color: #E8E8E8;
    float: left;
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.left_txt_small {
    
    font-weight: bold;
    float: left;
    min-width: 60px;
    margin-right: 5px;
    margin-left: 10px;
    padding-top: 5px;
    padding-right: 8px;
}
.left_small2 {
    
    font-weight: bold;
    float: left;
    width: auto;
    margin-right: 5px;
    margin-left: 3px;
    padding-top: 0px;
    padding-right: 8px;
}
.formtxtfield_small {
    float: left;
    width: 90px;
}

.invoice_table table {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.invoice_table table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.invoice_table tr:first-child td {
    background-color: #E8E8E8;
    border: 0px solid #ffffff;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    
    font-weight: normal;
    color: #000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.invoice_table td {
    vertical-align: middle;
    text-align: left;
    padding: 7px;
    font-size: 14px;
    /**/
    font-weight: normal;
    color: #000000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.invoice_table tr:hover td {
    background-color: #fff;
}

.form {
    float: left;
    width: 100%;
    /*border-top-width: 6px;
    border-right-width: 1px;
    border-bottom-width: 6px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #859cb6;
    border-right-color: #335a85;
    border-bottom-color: #859cb6;
    border-left-color: #335a85;
    background-color: #f2f2f2;*/
    margin: auto;
}
.form_title {
    float: right;
    width: 209px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 22px;
}
.form_field {
    float: right;
    width: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 22px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #FFF;
    min-width: 140px;
}
.raw_payments {
    float: right;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    background-color: #D8D8D8;
    color: #333;
}
.form_title2 {
    float: right;
    width: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 35px;
    line-height: 22px;
    font-weight: bold;
}
.add_item {
    text-align: right;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 119px;
    height: 29px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-image: url(../../images/internal/additem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}
.invoice_raw {
    float: left;
    width: 100%;
    margin-top: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #D6D6D6;
    padding-bottom: 4px;
}
.invoice_mant {
    float: left;
    width: auto;
    margin-right: 15px;
    background-image: url(../../images/internal/arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px;
}
.invoice_mant {
    float: left;
    width: auto;
    margin-right: 15px;
    background-image: url(../../images/internal/arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 22px;
}
.invoice_mant strong {
    width: auto;
    float: left;
    margin-right: 6px;
}
.filter_field_small {
    background-color: transparent;
    float: left;
    margin-right: 5px;
    width: 80px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding-left: 5px;
}
.ui-select_filter {
    float: left;
    margin-top: -2px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #CCC;
}

.formtxtfield_filter_small {
    background-image: url(../../images/internal/input_bg.png);
    background-repeat: repeat-x;
    background-position: center top;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.05), inset 0px 3px 3px 0px rgba(0,0,0,0.1);
    float: left;
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    font-size: 13px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 26px;
    background-color: #FFF;
    margin-top: -5px;
}
.formtxtfield_filter_small2 {
    background-image: url(../../images/internal/input_bg.png);
    background-repeat: repeat-x;
    background-position: center top;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.05), inset 0px 3px 3px 0px rgba(0,0,0,0.1);
    float: left;
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    font-size: 13px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 26px;
    background-color: #FFF;
}
.date_icon {
    float: right;
    height: 10px;
    width: 22px;
    margin-right: -23px;
}
.styled-select_filter {
    overflow: hidden;
    background-repeat: repeat-x;
    background-position: right center;
    float: left;
    height: 23px;
    width: 103px;
    
    font-size: 13px;
    color: #000;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: transparent;
    border: 0px solid #c8c8c8;
}
.ui-select_filter select {
    background-repeat: no-repeat;
    background-position: 17px 1px;
    height: 23px;
    
    font-size: 13px;
    color: #000;
    background-image: url(../../images/internal/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 80px 8px;
    float: left;
    width: 131px;
    border: 0px none;
    padding-left: 6px;
    padding-right: 6px;
    background-color: transparent;
    margin-top: -1px;
    padding-top: 5px;
}
.mant_title {
    float: left;
    width: 95%;
    
    font-size: 14px;
    font-weight: bold;
    color: #272727;
    text-decoration: none;
    margin-bottom: 6px;
    margin-top: 8px;
    background-image: url(../../images/internal/maintenance.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 31px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
}
.raw {
    float: left;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
}
.invoice {
    float: left;
    width: 98%;
    border: 1px solid #9E9E9E;
    padding: 1%;
    
    font-size: 13px;
    color: #555;
    background-color: #F9F9F9;
}


.invoice-wrap {
    border: 1px solid #eeeeee;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    text-align: left;
    direction: ltr;
}
.invoice-wrap .invoice-head {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 20px;
}
.invoice-wrap .invoice-head .brand-logo > i {
    -webkit-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
}
.invoice-wrap .address-wrap {
    border: 1px solid #eeeeee;
}
.invoice-wrap .address-wrap .address-title {
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
}
.invoice-wrap .address-wrap address {
    padding: 20px;
    margin-bottom: 0;
}
.invoice-wrap .invoice-table thead tr {
    background: #a2a2a2;
    color: #fff;
}
.invoice-wrap .total-sum {
    border-bottom: 2px solid #eeeeee;
}
.invoice-wrap .text-bold {
    font-weight: bold;
}
.invoice-wrap .mb5 {
    margin-bottom: 5px; 
}
.invoice-wrap .left {
    float: left;
}
.invoice-wrap .mt15 {
    margin-top: 15px;
}
.invoice-wrap .text-bold {
    font-weight: bold;
}
.invoice-wrap .text-uppercase {
    text-transform: uppercase;
}
.invoice-wrap h3, .invoice-wrap .h3 {
    font-size: 24px;
}
.invoice-wrap .right {
    float: right;
}
.invoice-wrap small,.invoice-wrap  .small {
    font-size: 85%;
}
.invoice-wrap p {
    margin: 0 0 10.5px;
}
.invoice-wrap table {
    border-collapse: collapse;
    border-spacing: 0;
}
.filter_field_small{text-align: center}

@media print
{    
    header 
    {
        display: none !important;
    }
    #sidebar-nav 
    {
        display: none !important;
    }
    a 
    {
        display: none !important;
    }
    .skins-nav 
    {
        display: none !important;
    }
    thead tr {
        background: #a2a2a2;
        color: #fff;
    }
    .col-md-6 
    {
        width: 50%;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 
    {
        float: right;
    }
    .invoice-wrap{
        direction: ltr;
        text-align: right;
    }
}

.title{margin-bottom: 10px}
.groub_buuton{
    
    float:right;
    margin-bottom: 20px
}

.hr_payment{clear: left;border: 1px solid;padding-top: 1px}

.fcont{padding-left: 2%;float: left;}

.title{text-align: right;}

.CSSTableGenerator {
    margin:0px;
    padding:0px;
    width:100%;
    /*box-shadow: 10px 10px 5px #888888;*/
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;	/*
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;*/
    float: left;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    text-align:right;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
    background-color:#4a8bc2;


}
.CSSTableGenerator td{
    vertical-align:middle;
    background-color:#f7f7f7;
    text-align:right;
    padding:7px;
    font-size:12px;
    letter-spacing:1px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;

}

.CSSTableGenerator td a{
    font-size:12px;
    letter-spacing:1px;
    font-family:Arial;
    font-weight:bold;
    color:#000;
}

.CSSTableGenerator tr:last-child td{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    text-align:right;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    text-align:right;
}
.CSSTableGenerator tr:first-child td{
    /*		background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
    background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);
    */
    text-align:left;
    border-width:0px 0px 1px 1px;
    font-size:11px;
    letter-spacing:1px;	
    /*font-family:Arial;*/
    font-weight:bold;
    color:#000;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    text-align:center;

    background-repeat: repeat-x;
    background-position: center top;
}

thead tr th {
    /*padding: 6px;
    text-align:center !important;
    border-width:0px 0px 1px 1px;
    font-size:12px;
    letter-spacing:1px;	
    font-weight:bold;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-image: url(../imagtes/internal/table_top_bg.jpg);
    background-repeat: repeat-x;
    background-position: center top;*/

}
.CSSTableGenerator tr:first-child:hover td{
    /*
    background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
    background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);
    */

    background-color:#4a8bc2;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    text-align: right;
}
.search_filter_data{float:right}


.invoice {
    float: right;
    width: 100%;
    border: 0px solid #9E9E9E !important;
    padding: 1%;
    /**/
    font-size: 13px;
    color: #555;
    background-color: #FFF !important;
}




.invoice-wrap {
    border: 1px solid #eeeeee;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    text-align: right;
    direction: rtl;
}
.invoice-wrap .invoice-head {
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 20px;
}
.invoice-wrap .invoice-head .brand-logo > i {
    -webkit-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
}
.invoice-wrap .address-wrap {
    border: 1px solid #eeeeee;
}
.invoice-wrap .address-wrap .address-title {
    border-bottom: 1px solid #eeeeee;
    padding: 20px;
}
.invoice-wrap .address-wrap address {
    padding: 20px;
    margin-bottom: 0;
}
.invoice-wrap .invoice-table thead tr {
    background: #a2a2a2;
    color: #fff;
}
.invoice-wrap .total-sum {
    border-bottom: 2px solid #eeeeee;
}
.invoice-wrap .text-bold {
    font-weight: bold;
}
.invoice-wrap .mb5 {
    margin-bottom: 5px; 
}
.invoice-wrap .left {
    float: right;
}
.invoice-wrap .mt15 {
    margin-top: 15px;
}
.invoice-wrap .text-bold {
    font-weight: bold;
}
.invoice-wrap .text-uppercase {
    text-transform: uppercase;
}
.invoice-wrap h3, .invoice-wrap .h3 {
    font-size: 24px;
}
.invoice-wrap .right {
    float: left;
}
.invoice-wrap small,.invoice-wrap  .small {
    font-size: 85%;
}
.invoice-wrap p {
    margin: 0 0 10.5px;
}
.invoice-wrap table {
    border-collapse: collapse;
    border-spacing: 0;
}
.filter_field_small{text-align: center}

@media print
{    
    header 
    {
        display: none !important;
    }
    #sidebar-nav 
    {
        display: none !important;
    }
    a 
    {
        display: none !important;
    }
    .skins-nav 
    {
        display: none !important;
    }
    thead tr {
        background: #a2a2a2;
        color: #fff;
    }
    .col-md-6 
    {
        width: 50%;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 
    {
        float: right;
    }
    .invoice-wrap{
        direction: rtl;
        text-align: right;
    }
}


.col-lg-1,.col-lg-4{
    padding-top: 10px;
    font-weight: bold;
    line-height: 22px;
} 
.col-lg-5{font-weight: bold;
    line-height: 22px;}
.float_right_30{
    
    float:right;
    width:30%;
    
}
.fdirection{float:right}
.btn_margin{text-align: left;margin-top: 10px}
.padding{padding: 10px;}
.main_div{
    border-bottom: 1px solid #CCC;
    width: 98%;
    margin-right: 15px;
}


.table-bordered {
    background-color: #fff !important;
   
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
	    border-spacing: 0 !important;
		
}

.table-bordered th {
   
    line-height: 16px !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4) !important;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2) !important;
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2) !important;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2) !important;
    background-color: #84969e !important;
    background-image: -moz-linear-gradient(top,#909fa7,#738791) !important;
    background-image: -ms-linear-gradient(top,#909fa7,#738791) !important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#909fa7),to(#738791)) !important;
    background-image: -webkit-linear-gradient(top,#909fa7,#738791) !important;
    background-image: -o-linear-gradient(top,#909fa7,#738791) !important;
    background-image: linear-gradient(top,#909fa7,#738791) !important;
    background-repeat: repeat-x !important;
    border-top: 1px solid rgba(0,0,0,0.1) !important;
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0 !important;
    -moz-border-radius: 4px 0 0 0 !important;
    border-radius: 4px 0 0 0 !important;
}

.table-bordered td {
    border-top: 1px solid #ededed !important;
    background-color: #FFF !important;
	padding:4px 3px;
}

.ui-menu .ui-menu-item {
	border-bottom:1px solid #CCC !important; }
.blackmagic { display:none; }	
.activetabsxxxxx { color: #ffffff !important;
    background-color: #5bc0de !important; }

.remove_main{
    position: absolute;left: 29px;margin-left: 75px;margin-top: 10px;
}