#wrapper
{
	float: left;
	height: 100%;
	position: relative;
	width: 100%;
}
#sidebar
{
	background-color: #5b5a5a;
	border-right: 1px solid #333;
	bottom: 0;
	box-shadow: inset -1px 0 6px rgba(0,0,0,.3);
	height: 100%;
	left: 0;
	min-height: 545px;
	position: fixed;
	top: 0;
	width: 71px;
	z-index: 999;
}
#content
{
	bottom: auto;
	color: #555;
	float: left;
	font-size: 12px;
	left: 71px;
	padding-bottom: 30px;
	padding-right: 2%;
	position: absolute;
	right: 0;
	text-shadow: 0 1px 0 #fff;
	top: 0;
}
#avatar
{
	background-color: #bbb;
	border: 1px solid #333;
	border-radius: 4px;
	box-shadow: 0 0 8px 1px rgba(255,255,255,.1);
	float: left;
	height: 56px;
	margin: 7px 7px 0;
	overflow: hidden;
	position: relative;
	width: 56px;
}
#avatar img
{
	border-radius: 2px;
	height: 54px;
	width: 54px;
}
#av-overlay
{
	background-image: -moz-linear-gradient(top,rgba(255,255,255,.2),rgba(0,0,0,.15));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.2),rgba(0,0,0,.15));
	border-radius: 3px;
	bottom: 0;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.3),inset 0 0 10px 1px rgba(255,255,255,.2);
	height: auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}
#user-notif
{
	cursor: pointer;
	float: left;
	height: 30px;
	width: 70px;
}
#user-notif>div
{
	float: left;
	font-size: 16px;
	height: 30px;
	line-height: 28px;
	padding: 2px 0 0 7px;
	position: relative;
	text-align: left;
	text-shadow: 0 1px 1px #333;
	width: 50%;
}
.notif-tag
{
	color: #FFBB78;
	font-size: 11px;
	height: 10px;
	line-height: 10px;
	min-width: 10px;
	padding: 0 2px;
	position: absolute;
	right: 0;
	text-shadow: 0 1px 0 #542A00;
	top: 2px;
	width: auto;
}
#nav
{
	border-top: 1px solid rgba(0,0,0,.4);
	bottom: 0;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	left: 0;
	position: absolute;
	top: 95px;
	width: 70px;
	z-index: 98;
}
#nav li
{
	color: #ddd;
	cursor: pointer;
	float: left;
	font-size: 12px;
	height: 68px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	width: 100%;
	z-index: 98;
}
#nav li:hover,#nav li:hover a
{
	color: #eee;
}
#nav li.active
{
	background: url(../img/bg.jpg) #f6f6f6!important;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 2px 1px 1px #fff,-5px 1px 6px rgba(0,0,0,.4);
	font-weight: 700;
	width: 71px;
	z-index: 99;
}
#nav .sub-nav li:hover .icon,#nav li:hover .nav-icon
{
	color: #f4f4f4;
	text-shadow: 0 1px 2px rgba(0,0,0,.6),1px 1px 18px #54bbff;
}
#nav li.active,#nav li.active .nav-icon,#nav li.active>a
{
	color: #444!important;
	text-shadow: 0 1px 0 #fff!important;
}
#nav #logout
{
	bottom: 0;
	display: block;
	position: absolute;
}
#nav .nav-icon
{
	display: block;
	font-size: 24px;
	height: 45px;
	line-height: 45px;
	webkit-text-stroke: .24px;
	width: 100%;
}
#nav a
{
	bottom: 0;
	color: #ddd;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}
#nav .nav-icon,#user-notif>div,.sub-nav .icon,.sub-nav a
{
	color: #ddd;
	moz-transition: text-shadow .2s linear,color .2s linear;
	o-transition: text-shadow .2s linear,color .2s linear;
	transition: text-shadow .2s linear,color .2s linear;
	webkit-transition: text-shadow .2s linear,color .2s linear;
}
#user-notif>div:hover
{
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.8),1px 1px 8px #7CC3F3;
}
#nav .sub-nav
{
	background: #5b5a5a;
	border: 1px solid #333;
	border-radius: 0 3px 3px 0;
	box-shadow: 1px 1px 8px rgba(0,0,0,.4),-1px 0 7px rgba(255,255,255,.3);
	left: 80%;
	min-width: 100px;
	moz-transition: all .3s ease .3s;
	opacity: 0;
	o-transition: all .3s ease .3s;
	position: absolute;
	top: 0;
	transition: all .3s ease .3s;
	visibility: hidden;
	webkit-transition: all .3s ease .3s;
	z-index: 999;
}
#nav li:hover .sub-nav
{
	left: 100%;
	opacity: 1;
	visibility: visible;
}
#nav .sub-nav li
{
	height: 32px;
	padding: 0 10px;
	text-align: left;
}
#nav .sub-nav li:hover
{
	background-color: rgba(0,0,0,.1);
}
#nav .sub-nav a
{
	display: inline-block;
	line-height: 32px;
	position: static;
	white-space: nowrap;
}
#nav .sub-nav .icon
{
	font-size: 12px;
	margin-right: 6px;
	vertical-align: -1px;
}
#nav .sub-nav .nav-icon,#nav .sub-nav a,#nav .sub-nav li
{
	color: #ddd!important;
}
#nav .sub-nav a,#nav .sub-nav li
{
	text-shadow: 0 1px 0 #333!important;
}
#sidebar.light
{
	box-shadow: inset -1px 0 6px rgba(0,0,0,.2);
}
.light #nav .nav-icon,.light #nav a,.light #nav li,.light #notif-unread,.light #user-notif>div
{
	color: #444;
	text-shadow: 0 1px 1px rgba(255,255,255,.3);
}
.light #nav li.active
{
	box-shadow: inset 2px 1px 1px #fff,-4px 1px 2px rgba(0,0,0,.5);
}
.light #nav li:hover,.light #nav li:hover a
{
	color: #555;
}
.light #nav li:hover .nav-icon,.light #user-notif>div:hover
{
	color: #555;
	text-shadow: 0 1px 1px rgba(255,255,255,.3),1px 1px 8px #54bbff;
}
#coll-sidebar
{
	padding-right: 7px!important;
}
.mini #coll-sidebar
{
	padding-right: 0!important;
}
#coll-sidebar:before
{
	content: '\f32d';
	float: right;
	font-family: Icons;
	text-align: right;
	width: 100%;
}
.mini #coll-sidebar:before
{
	content: '\f32c';
	text-align: center;
}
.mini #sidebar
{
	width: 36px;
}
.mini #avatar
{
	border: 0;
	border-bottom: 1px solid #333;
	margin: 0!important;
}
.mini #av-overlay,.mini #avatar,.mini #avatar img
{
	border-radius: 0;
	height: 35px;
	width: 35px;
}
.mini #nav,.mini #user-notif
{
	width: 35px;
}
.mini #user-notif
{
	height: 70px;
}
.mini #user-notif>div
{
	font-size: 13px;
	padding: 0;
	text-align: center;
	width: 100%;
}
.mini #nav .nav-icon
{
	font-size: 16px;
	height: 35px;
	line-height: 35px;
}
.mini #nav>li
{
	color: transparent!important;
	font-size: 0;
	height: 35px;
}
.mini #nav li.active
{
	width: 36px;
}
.mini #content
{
	left: 36px;
}
@media only screen and (min-width:741px)
{
	.sidebar-hz #sidebar
	{
		border-right-width: 0;
		bottom: auto;
		height: 71px;
		min-height: 36px;
		right: 0;
		width: 100%;
	}
	.sidebar-hz #avatar
	{
		margin: 7px 0 7px 7px;
	}
	.sidebar-hz #user-notif
	{
		height: 70px;
		width: 30px;
	}
	.sidebar-hz #user-notif>div
	{
		height: 35px;
		padding: 7px 0 0!important;
		text-align: center;
		width: 100%;
	}
	.sidebar-hz #coll-sidebar:before
	{
		text-align: center;
	}
	.sidebar-hz #nav
	{
		border-left: 1px solid rgba(0,0,0,.4);
		border-top: 0;
		box-shadow: inset 1px 0 0 rgba(255,255,255,.15);
		height: 70px;
		left: 95px;
		right: 0;
		top: 0;
		width: auto;
	}
	.sidebar-hz #nav>li
	{
		height: 100%;
		width: 90px;
	}
	.sidebar-hz #nav li.active
	{
		border-radius: 3px;
		box-shadow: inset 1px 2px 1px #fff,0 0 3px 1px rgba(0,0,0,.4);
		height: 56px;
		margin: 7px 7px 0;
		width: 70px;
	}
	.sidebar-hz .light #nav li.active
	{
		box-shadow: inset 1px 2px 1px #fff,0 0 1px 1px rgba(0,0,0,.5);
	}
	.sidebar-hz #nav .nav-icon
	{
		margin-top: 5px;
	}
	.sidebar-hz #nav .active .nav-icon
	{
		height: 40px;
		line-height: 40px;
		margin-top: 0;
	}
	.sidebar-hz #nav .sub-nav,.sidebar-hz #nav li:hover .sub-nav
	{
		left: 0;
	}
	.sidebar-hz #logout
	{
		right: 0;
	}
	.sidebar-top #sidebar
	{
		border-bottom: 1px solid #333;
		box-shadow: inset 0 -1px 6px rgba(0,0,0,.3);
	}
	.sidebar-top #sidebar.light
	{
		border-bottom: 1px solid #666;
		box-shadow: inset 0 -1px 6px rgba(0,0,0,.1);
	}
	.sidebar-top #nav .sub-nav
	{
		border-radius: 0 0 3px 3px;
		box-shadow: 0 1px 8px rgba(0,0,0,.4),0 -1px 7px rgba(255,255,255,.3);
		top: 80%;
	}
	.sidebar-top #nav li:hover .sub-nav
	{
		top: 100%;
	}
	.sidebar-top #content
	{
		left: 0;
		top: 71px;
	}
	.sidebar-right #sidebar
	{
		border-left: 1px solid #333;
		border-right-width: 0;
		box-shadow: inset 1px 0 6px rgba(0,0,0,.3);
		left: auto;
		right: 0;
	}
	.sidebar-right #sidebar.light
	{
		border-left: 1px solid #666;
		box-shadow: inset 1px 0 6px rgba(0,0,0,.2);
	}
	.sidebar-right #nav .sub-nav
	{
		border-radius: 3px 0 0 3px;
		box-shadow: -1px 1px 8px rgba(0,0,0,.4),1px 0 7px rgba(255,255,255,.3);
		left: auto;
		right: 80%;
	}
	.sidebar-right #nav li:hover .sub-nav
	{
		left: auto;
		right: 100%;
	}
	.sidebar-right #content
	{
		left: 0;
		right: 71px;
	}
	.sidebar-right.mini #content
	{
		left: 0;
		right: 36px;
	}
	.sidebar-right #nav li.active
	{
		border-radius: 0 3px 3px 0;
		box-shadow: inset -2px 1px 1px #fff,7px 1px 6px rgba(0,0,0,.4);
		margin-left: -1px;
	}
	.sidebar-right .light #nav li.active
	{
		box-shadow: inset -2px 1px 1px #fff,2px 1px 2px rgba(0,0,0,.5);
	}
	.sidebar-bottom #sidebar
	{
		border-top: 1px solid #333;
		bottom: 0;
		box-shadow: inset 0 1px 6px rgba(0,0,0,.3);
		top: auto;
	}
	.sidebar-bottom #sidebar.light
	{
		border-top: 1px solid #666;
		box-shadow: inset 0 1px 6px rgba(0,0,0,.2);
	}
	.sidebar-bottom #nav .sub-nav
	{
		border-radius: 3px 3px 0 0;
		bottom: 80%;
		box-shadow: 0 -1px 8px rgba(0,0,0,.4),0 1px 7px rgba(255,255,255,.3);
		top: auto;
	}
	.sidebar-bottom #nav li:hover .sub-nav
	{
		bottom: 100%;
	}
	.sidebar-bottom #content
	{
		left: 0;
		padding-bottom: 101px;
	}
	.mini.sidebar-hz #nav,.mini.sidebar-hz #sidebar
	{
		height: 36px;
	}
	.mini.sidebar-hz #avatar
	{
		border-bottom: 0;
		border-right: 1px solid #333;
	}
	.mini.sidebar-hz #user-notif
	{
		height: 35px;
		width: 60px;
	}
	.mini.sidebar-hz #user-notif>div
	{
		padding: 4px 0 0!important;
		width: 50%;
	}
	.mini.sidebar-hz #nav .nav-icon
	{
		font-size: 16px;
		height: 35px;
		line-height: 35px;
		margin-top: 0;
	}
	.mini.sidebar-hz #nav>li
	{
		height: 35px;
		width: 40px;
	}
	.mini.sidebar-hz #nav li.active
	{
		border-radius: 0;
		box-shadow: inset 1px 2px 1px #fff,0 -3px 3px 1px rgba(0,0,0,.4);
		margin: 0!important;
	}
	.mini.sidebar-top #content
	{
		top: 36px;
	}
	.mini.sidebar-bottom #content
	{
		padding-bottom: 66px;
	}
	.mini.sidebar-bottom #nav li.active
	{
		box-shadow: inset 1px 2px 1px #fff,0 3px 3px 1px rgba(0,0,0,.4);
	}
}
body.dark #nav li.active
{
	background: url(../img/bg-dark.jpg) #acacac!important;
	box-shadow: inset 1px 1px 0 #c9c9c9,-5px 1px 6px rgba(0,0,0,.4);
}
.dark #nav li.active .nav-icon,.dark #nav li.active a,body.dark #nav li.active
{
	color: #333!important;
	text-shadow: 0 1px 1px #ccc!important;
}
.dark .sidebar-hz #nav li.active
{
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,.2),0 0 3px 1px rgba(0,0,0,.4);
}
.dark .sidebar-right #nav li.active
{
	box-shadow: inset -1px 1px 0 #c9c9c9,7px 1px 6px rgba(0,0,0,.4);
}
.dark .mini.sidebar-top #nav li.active
{
	box-shadow: inset 0 0 1px 1px #ccc,0 -3px 3px 1px rgba(0,0,0,.4);
}
.dark .mini.sidebar-bottom #nav li.active
{
	box-shadow: inset 0 0 1px 1px #ccc,0 3px 3px 1px rgba(0,0,0,.4);
}
.dark #content
{
	color: #ccc;
	text-shadow: 0 1px 1px #444;
}
.dark #chat-mod .chat-inp
{
	border-top-color: #333;
	box-shadow: inset 0 1px 1px #fff;
}
.dark #sys-updates
{
	color: #eee;
}
.dark #alerts a,.dark #chat-notif,.dark #chat-unread p,.dark #last-chat,.dark #ver-stats p
{
	color: #ddd;
}
.dark #cal-events,.dark #intro p,.dark .msg-time,.dark .stat span,.dark .task-prog-ind
{
	color: #bbb;
}
.dark #cal-day,.dark .stat
{
	color: #ccc;
}
.dark #chat-unread p
{
	box-shadow: inset 0 1px 1px #888;
}
.dark #chat-unread p:hover
{
	background-color: #7c7c7c;
	box-shadow: inset 0 0 1px 1px #8c8c8c;
}
.dark #alerts strong,.dark .unread-msg:before
{
	color: #fa9d50;
}
.dark #tb-handle:after
{
	text-shadow: 0 1px 1px #ccc;
}
.dark #chat-notif button
{
	box-shadow: inset 0 1px 2px rgba(255,255,255,.25),0 1px 1px #888;
}
.dark #sys-updates
{
	background: #777;
	box-shadow: inset 0 1px 0 #909090;
}
.dark #gages
{
	box-shadow: inset 1px 0 1px #777;
}
.dark #cpu:after,.dark #ram:after
{
	background: #777;
}
.dark #chat-unread p,.dark #cpu:after,.dark #gages,.dark #ram:after,.dark #sys-updates,.dark .accent,.dark .box,.dark .box .row,.dark .chat-msg p,.dark .expand-content,.dark .header,.dark .rows li,.dark .top-bar .item
{
	border-color: #333!important;
}
.dark .gage text tspan
{
	color: #ddd;
	fill: #ddd!important;
	text-shadow: 0 1px 0 #444;
}
.dark .gage path:first-of-type
{
	fill: #555;
	stroke: #222!important;
	stroke-width: .4;
}
.dark #intro .icon,.dark #intro h2
{
	color: #ddd;
	font-weight: 400;
	text-shadow: 0 1px 1px #444;
}
.dark #task-box .done
{
	box-shadow: inset 0 0 16px 1px rgba(0,0,0,.15);
	color: #aaa;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
}
.dark .badge,.dark .task-progress
{
	border-color: rgba(0,0,0,.6);
}
.dark #task-box .sort-placeholder
{
	background: #555;
}
.dark #task-box .ui-sortable-helper
{
	background: #666;
	border-color: #444!important;
	box-shadow: inset 0 1px 0 #777,0 0 8px #555;
}
.dark .chat-msg .sent
{
	background: #4f4f4f;
	box-shadow: inset 0 1px 5px #444;
	text-shadow: 0 1px 1px #333;
}
.dark .chat-msg .rec
{
	background: #777;
	box-shadow: inset 0 1px 1px #999;
	color: #111;
	text-shadow: 0 1px 0 #8f8f8f;
}
.dark .msg-info
{
	color: #aaa;
}
.dark .chat-msg .rec .msg-info
{
	color: #333;
	text-shadow: 0 1px 0 #888;
}
.box
{
	background-color: #ececec;
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: inset 0 0 1px 1px #f8f8f8,0 2px 0 rgba(0,0,0,.03);
	float: left;
	margin-left: 2%;
	margin-top: 30px;
	min-height: 40px;
	position: relative;
}
.box.coll-ov
{
	height: auto!important;
	min-height: 40px!important;
}
.header
{
	background-image: -moz-linear-gradient(top,transparent,rgba(0,0,0,.03));
	background-image: -webkit-linear-gradient(top,transparent,rgba(0,0,0,.03));
	border-bottom: 1px solid #999;
	border-radius: 3px 3px 0 0;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
	color: #555;
	cursor: pointer;
	float: left;
	font-size: 12px;
	font-weight: 700;
	height: 40px;
	letter-spacing: 1px;
	line-height: 38px;
	position: relative;
	text-indent: 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
	width: 100%;
	z-index: 8;
}
.coll .header
{
	border-bottom: 0;
	border-radius: 3px;
}
.header>.icon
{
	font-size: 18px;
	line-height: 38px;
	margin: 0 10px 0 2px;
}
.accent .icon
{
	font-size: 16px;
	line-height: 26px;
	margin: 0 8px 0 0;
}
.accent .icon,.header>.icon
{
	display: inline-block;
	text-indent: 0;
	vertical-align: -3px;
}
.header .buttons,.header>button
{
	display: inline-block;
	float: left;
	margin: 6px;
	text-indent: 0!important;
}
.header .buttons button,.header>button
{
	height: 28px;
}
.header .buttons.right,.header>.icon.right,.header>button.right
{
	float: right;
}
.accent .badge,.accent .tag,.header .badge,.header .tag
{
	text-indent: 0!important;
}
.header .box-desc
{
	font-size: 11px;
	opacity: .8;
}
.accent
{
	background-color: #646464;
	border: 1px solid #444;
	border-radius: 3px;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.3),0 1px 0 rgba(255,255,255,.6);
	color: #eee;
	float: left;
	height: 29px;
	line-height: 28px;
	margin: 5px;
	padding: 0 8px 0 5px;
	position: relative;
	text-shadow: 0 1px 1px #444;
}
.accent:after
{
	background-color: #43b1dd;
	border-radius: 2px;
	box-shadow: inset 1px 0 0 rgba(255,255,255,.4),0 0 0 1px #104256;
	content: '';
	height: 23px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 4px;
}
.header.dark
{
	border: 1px solid #333;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
	box-sizing: content-box!important;
	color: #eee;
	height: 40px;
	margin: -1px 0 0 -1px;
	moz-box-sizing: content-box!important;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	webkit-box-sizing: content-box!important;
}
.header.dark .accent
{
	background-color: #eee;
	border: 1px solid #111;
	box-shadow: inset 1px 1px 1px #fff,0 1px 1px #333;
	color: #444;
	margin-top: 6px;
	text-shadow: 0 1px 1px #fff;
}
.coll .header.dark
{
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 0 #fff;
	height: 40px;
}
.box .content
{
	border-radius: 0 0 3px 3px;
	float: left;
	position: relative;
	width: 100%;
	z-index: 9;
}
.box.gcont,.content.gcont
{
	padding: 0 2% 15px 0;
}
.box.pad,.content.pad,.row.pad
{
	padding: 0 0 10px 10px!important;
}
.box.pad-m,.content.pad-m,.row.pad-m
{
	padding: 0 0 15px 15px!important;
}
.box.pad-l,.content.pad-l,.row.pad-l
{
	padding: 0 0 20px 20px!important;
}
.box.pad-full,.content.pad-full,.row.pad-full
{
	padding: 10px!important;
}
.box.pad-m-full,.content.pad-m-full,.row.pad-m-full
{
	padding: 15px!important;
}
.box.pad-l-full,.content.pad-l-full,.row.pad-l-full
{
	padding: 20px!important;
}
.box .row,.rows li
{
	border-bottom: 1px solid #999;
	border-color: #999;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.6);
	float: left;
	padding: 10px;
	position: relative;
	width: 100%;
}
.box .row:last-child,.rows li:last-child
{
	border-bottom-width: 0;
}
.rows-pad-m .row
{
	padding: 15px;
}
.rows-pad-l .row
{
	padding: 20px;
}
.dark .box
{
	background-color: #5f5f5f;
	box-shadow: 0 1px 0 #bbb;
}
.dark .box.outset
{
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
.dark .header
{
	background-color: #707070;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	color: #eee;
	text-shadow: 0 1px 1px #444;
}
.dark .coll .header.dark
{
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 #777;
}
.dark .accent
{
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
}
.dark .accent:after
{
	border-radius: 2px;
}
.dark .box .row,.dark .rows li
{
	box-shadow: inset 0 1px 0 #707070;
}
.row1
{
	height: 230px;
}
#dash-cal,.spark,.stat
{
	width: 12%;
}
.stat
{
	color: #888;
	cursor: default;
	font-size: 10px;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase;
}
.stat span
{
	color: #666;
	display: block;
	font-size: 16px;
	font-weight: 700;
	height: 28px;
	line-height: 20px;
	text-align: center;
}
.stat.up span
{
	color: #89A824;
}
.stat.down span
{
	color: #d6692f;
}
.stat.down span:before,.stat.up span:before
{
	font-family: Icons;
	font-size: 13px;
	font-weight: 400;
	margin-right: 8px;
}
.stat.up span:before
{
	content: '\f31c';
}
.stat.down span:before
{
	content: '\f31d';
}
.spark
{
	color: transparent;
	text-align: center;
	text-shadow: none;
}
#dash-bar .item-icon
{
	color: #bbb;
	font-size: 32px;
	left: 10px;
	position: absolute;
	top: 12px;
}
#alerts
{
	background-color: #f3f3f3;
	border-bottom: 1px solid #9e9e9e;
	box-shadow: inset 0 0 2px 1px #fff;
	height: 60px;
	min-height: 60px;
	overflow: hidden;
	padding: 0;
	width: 40%;
	z-index: 999;
}
#alerts.expand
{
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 0 2px 1px #fff;
	height: auto;
	moz-transition: box-shadow .4s ease;
	o-transition: box-shadow .4s ease;
	overflow: visible;
	transition: box-shadow .4s ease;
	webkit-transition: box-shadow .4s ease;
}
#alerts .expand-content
{
	height: auto;
	margin-left: -1px;
	margin-top: 59px;
	padding: 0 10px;
}
#alerts.expand .expand-content
{
	opacity: 1;
	visibility: visible;
}
#alerts .content
{
	height: 59px;
	left: 0;
	padding: 7px 10px 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#alerts strong,.unread-msg:before
{
	color: #d47c2f;
}
#alerts a:hover
{
	border-bottom: 1px dotted #aaa;
}
#last-chat
{
	font-size: 12px!important;
	height: 23px!important;
	line-height: 16px!important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#chat-notif,#last-chat
{
	color: #555;
	display: block;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding-left: 42px;
}
#chat-notif button
{
	box-shadow: 0 1px 1px #fff;
	font-size: 11px;
	height: 20px;
	padding-left: 26px;
	position: relative;
}
#open-chat:before,#reply-btn:before
{
	content: '\f48c';
	font-family: Icons;
	font-size: 16px;
	font-weight: 400;
	left: 6px;
	line-height: 18px;
	position: absolute;
	top: 0;
}
#open-chat:before
{
	content: '\f231';
	font-size: 12px;
}
.unread-msg
{
	margin-left: 8px;
}
.unread-msg:before
{
	content: '\f144';
	font-family: Icons;
	padding-right: 3px;
	vertical-align: -2px;
}
#chat-reply
{
	height: 40px;
	padding: 0 10px;
}
#chat-reply-input
{
	border: 1px solid #aaa;
	border-radius: 0 0 3px 3px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1),0 1px 1px #fff;
	float: left;
	height: 30px;
	line-height: 18px;
	margin: 0 0 10px;
	width: 100%;
}
#chat-confirm,#chat-load
{
	display: none;
	line-height: 30px;
	position: absolute;
	right: 20px;
	text-shadow: 0 1px 1px #fff;
	top: 0;
}
#chat-confirm
{
	color: #89A824;
}
#chat-unread p
{
	border-top: 1px solid #aaa;
	box-shadow: inset 0 1px 1px #fff;
	cursor: pointer;
	float: left;
	line-height: 16px;
	padding: 8px 10px 10px;
	width: 100%;
}
#chat-unread p:hover
{
	background-color: #f6f6f6;
	box-shadow: inset 0 0 3px 1px #fff;
}
#chat-unread strong
{
	color: #d47c2f;
	margin-right: 6px;
}
.msg-time
{
	color: #888;
	font-size: 11px;
	margin-left: 6px;
}
#chat-unread .msg-time
{
	float: left;
	margin-left: 0;
	margin-top: 6px;
	width: 100%;
}
#dash-cal
{
	background-color: rgba(0,0,0,.02);
	padding: 5px 10px 5px 50px;
}
#cal-day
{
	color: #888;
	font-size: 22px;
	font-weight: 700;
	line-height: 35px;
}
#cal-events
{
	font-size: 11px;
	line-height: 13px;
	white-space: nowrap;
}
#cal-day,#cal-events
{
	display: block;
	text-align: right;
}
#alerts a,#cal-events,#chat-load,#chat-reply-input,#chat-unread p
{
	color: #777;
}
.dark #chat-reply-input
{
	border-color: #333;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1),0 1px 1px #888;
}
.dark #alerts
{
	background-color: #777;
	box-shadow: inset 0 0 1px #ccc;
	text-shadow: 1px 1px 0 #444;
}
.dark #alerts.expand
{
	box-shadow: inset 0 0 2px 0 #999;
}
#ctrl-panel
{
	bottom: 0;
	float: left;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#set-tg
{
	height: 42px;
}
#set-tg .nav-icon
{
	line-height: 41px;
}
#ver-stats
{
	width: 41%;
}
#sys-pbars
{
	margin-right: 2%;
	width: 53%;
}
#sys-pbars,#ver-stats
{
	float: left;
	margin-left: 2%;
	margin-top: 15px;
}
#ver-stats p
{
	color: #555;
	float: left;
	font-size: 11px;
	height: 15px;
	line-height: 15px;
	margin-bottom: 12px;
	width: 100%;
}
#ver-stats strong
{
	display: inline-block;
	overflow: hidden;
	width: 100px;
}
#ver-stats p span
{
	padding: 0 8px 0 4px;
}
#sys-stats
{
	height: 228px;
	padding-right: 100px;
}
#sys-stats .prog-bar
{
	margin-bottom: 20px;
	margin-top: 0;
}
#sys-stats .g9
{
	margin-right: 2%;
}
#sys-updates
{
	background: #e7e7e7;
	border-top: 1px solid #aaa;
	bottom: 0;
	box-shadow: inset 0 1px 1px #f9f9f9;
	height: 42px;
	left: 0;
	line-height: 40px;
	overflow: visible;
	padding: 0 2%;
	position: absolute;
	right: 100px;
	width: auto;
}
#sys-updates p
{
	float: left;
	line-height: 40px;
}
#sys-updates p span
{
	font-size: 14px;
	margin-right: 8px;
	vertical-align: -2px;
}
#chk-up-btn
{
	border-radius: 0!important;
	border-top-color: transparent;
	bottom: -1px;
	height: 43px;
	position: absolute;
	right: -1px;
	top: -1px;
}
#profile-av
{
	float: left;
	height: 70px;
	margin: 15px 0 0 2%;
	width: 100%;
}
#profile-av img
{
	border: 1px solid #444;
	border-radius: 4px;
	float: left;
	height: 70px;
	margin-right: 15px;
	width: 70px;
}
#profile-av-info
{
	display: block;
	line-height: 17px;
	margin-top: 10px;
}
#profile-av .buttons
{
	float: left;
	margin-top: 15px;
}
#profile-av .icon
{
	font-size: 12px;
}
#profile-role span
{
	color: #cead00;
	font-size: 14px;
	margin-right: 10px;
}
#profile-role label
{
	line-height: 24px;
}
#profile-role span,#profile-role strong
{
	display: inline-block;
	float: left;
	line-height: 24px;
}
#gages
{
	border-left: 1px solid #9e9e9e;
	box-shadow: inset 1px 0 1px #f5f5f5;
	height: 228px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}
#gages .gage
{
	float: left;
	height: 76px;
	position: relative;
	width: 100px;
}
#cpu:after,#ram:after
{
	background: #9e9e9e;
	border-bottom: 1px solid #f5f5f5;
	bottom: -3px;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	right: 1px;
}
.gage text tspan
{
	color: #777;
	fill: #777!important;
	text-shadow: 0 1px 0 #fff;
}
.gage path:first-of-type
{
	stroke: #444!important;
	stroke-width: .1;
}
#intro
{
	height: 322px;
}
#intro .row
{
	padding: 14px 15px;
}
#intro .row:last-child
{
	border-bottom: 0;
	border-radius: 0 0 3px 3px;
}
#intro .icon
{
	color: #555;
	display: inline-block;
	font-size: 24px;
	text-shadow: 0 1px 1px #fff;
}
#intro h2
{
	color: #777;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	margin-left: 15px;
	vertical-align: top;
}
#intro p
{
	color: #555;
	display: block;
	font-size: 13px;
	line-height: 20px;
	margin-top: 8px;
	width: 100%;
}
#intro .icon,#intro h2,#intro p
{
	float: left;
}
#intro .al-r .icon,#intro .al-r h2
{
	float: right;
}
#intro .al-r h2,#intro .al-r p
{
	margin-left: 0;
	margin-right: 15px;
}
#task-box ul
{
	float: left;
	overflow: hidden;
	width: 100%;
}
#task-box li
{
	cursor: pointer;
	float: left;
	height: 46px;
	line-height: 26px;
	moz-transition: all .15s linear,top 0s linear;
	o-transition: all .15s linear,top 0s linear;
	padding: 10px;
	position: relative;
	transition: all .15s linear,top 0s linear;
	webkit-transition: all .15s linear,top 0s linear;
	width: 100%;
}
#task-box li:last-child
{
	border-bottom: 0;
	border-radius: 0 0 3px 3px;
}
#task-box .done
{
	box-shadow: inset 0 0 12px 1px rgba(0,0,0,.1);
	color: #888;
}
#task-box .done:before
{
	color: #89A824;
	content: '\2713';
	font-family: Icons;
	margin-right: 6px;
	vertical-align: -1px;
}
.task-progress
{
	background: #9dd4e8;
	border: 1px solid rgba(0,0,0,.2);
	border-left: 0;
	border-radius: 0 1px 0 0;
	bottom: -1px;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.2);
	height: 5px;
	left: 0;
	position: absolute;
	z-index: 10;
}
.task-progress.green
{
	background: #cfdba7;
}
.task.done .task-progress
{
	border-radius: 0;
	border-right: 0;
	opacity: .8;
	width: 100%;
}
.task-prog-ind
{
	color: #888;
	float: right;
	font-size: 11px;
	letter-spacing: 1px;
	text-align: right;
}
#task-box .sort-placeholder
{
	background: #eee;
}
#task-box .ui-sortable-helper
{
	background: #f0f0f0;
	border-bottom: 1px solid #999!important;
	border-radius: 0!important;
	border-top: 1px solid #999!important;
	box-shadow: inset 0 1px 1px #fff,0 0 8px #ccc;
}
#task-box .done.ui-sortable-helper
{
	box-shadow: inset 0 0 12px 1px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.3);
}
.jqstooltip
{
	background: rgba(0,0,0,.6)!important;
	border: 1px solid #333!important;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 #777;
	box-sizing: content-box!important;
	font: inherit!important;
	moz-box-sizing: content-box!important;
	padding: 2px 4px!important;
	webkit-box-sizing: content-box!important;
}
.jqsfield
{
	color: #eee!important;
	font-weight: 700!important;
	letter-spacing: 1px;
}
.legend
{
	min-height: 20px;
	min-width: 40px;
	position: absolute;
	right: 0;
	top: 0;
}
.legend>div
{
	display: none;
}
.legend table
{
	border: 1px solid rgba(0,0,0,.5);
	position: relative!important;
}
.legend table tr
{
	background-color: transparent;
}
.legend td
{
	height: auto;
	padding: 6px;
}
.legendColorBox
{
	width: 20px;
}
.legendColorBox>div
{
	border-width: 0!important;
}
.legendColorBox div div
{
	border-width: 6px!important;
}
.xAxis .tickLabel
{
	padding-bottom: 6px;
}
.yAxis .tickLabel
{
	padding-left: 6px;
}
.dark .tickLabel
{
	color: #ccc;
}
table
{
	width: 100%;
}
table .header
{
	float: none!important;
	height: auto!important;
	position: static!important;
	text-indent: 0!important;
}
table .header th
{
	box-shadow: none;
}
table .header.dark
{
	border: 0;
}
table .header.dark tr
{
	border-color: #333;
}
table tr
{
	border-bottom: 1px solid #aaa;
}
tbody tr:last-of-type
{
	border-bottom: 0;
}
td,th
{
	border-right: 1px solid #999;
	height: 40px;
	padding: 0 10px;
	text-align: left;
}
th
{
	border-right-color: rgba(0,0,0,.15);
	font-size: 12px;
	font-size: 13px;
	font-weight: 700;
	line-height: 22px;
}
td
{
	line-height: 20px;
}
th:last-child,tr td:last-child
{
	border-right: 0;
}
table .even,tbody tr:nth-child(even)
{
	background-color: #e5e5e5;
}
table .odd,tbody tr:nth-child(odd)
{
	background-color: #ececec;
}
.tablesorter .headerSortUp:before
{
	content: '\f48b';
	font-family: Icons;
	font-size: 11px;
	font-weight: 400;
	margin-right: 10px;
}
table.tablesorter .headerSortDown:before
{
	content: '\f48a';
	font-family: Icons;
	font-size: 11px;
	font-weight: 400;
	margin-right: 10px;
}
#table td:nth-child(3),#table td:nth-child(4),#table th:nth-child(3),#table th:nth-child(4)
{
	font-weight: 700;
	padding: 0;
	text-align: center;
	width: 80px;
}
#table td:nth-child(4),#table th:nth-child(4)
{
	width: 140px;
}
#table .tag
{
	display: inline-block;
	float: none;
	font-size: 10px;
	margin: 0 auto;
	width: 80px;
}
.dark table th
{
	border-color: rgba(0,0,0,.25);
	color: #eee;
	text-shadow: 0 1px 1px #444;
}
.dark table td,.dark table tr
{
	border-color: #404040;
	color: #ddd;
}
.dark table .even,.dark tbody tr:nth-child(even)
{
	background-color: #555;
}
.dark table .odd,.dark tbody tr:nth-child(odd)
{
	background-color: #5f5f5f;
}
#chat-mod
{
	bottom: auto;
	height: 500px;
	margin: -250px 0 0 -400px!important;
	top: 50%;
	width: 800px;
}
#chat-mod .mod-body
{
	border-radius: 0 3px 0 0;
	bottom: 0;
	padding: 10px 0 42px 67px!important;
	position: absolute;
	top: 0;
}
#chat-mod .nav-item
{
	padding-right: 20px!important;
}
.chat-msg p
{
	border: 1px solid #999;
	border-radius: 5px;
	line-height: 20px;
	margin: 10px 0 0 20px;
	min-width: 50.01%;
	padding: 10px 15px;
}
.msg-info
{
	color: #777;
	float: right;
	font-size: 11px;
	margin-left: 10px;
}
.chat-msg .rec
{
	background: #f2f2f2;
	border-radius: 0 4px 4px;
	box-shadow: inset 0 0 1px 1px #fff,0 1px 1px #ccc;
	float: left;
	text-shadow: 0 1px 0 #fff;
}
.chat-msg .sent
{
	background: #ddd;
	border-radius: 4px 0 4px 4px;
	box-shadow: inset 0 1px 3px #aeaeae,0 1px 0 #fff;
	float: right;
}
#chat-mod .nav li
{
	height: 82px;
	padding: 6px;
}
#chat-mod .nav .sel
{
	background-color: rgba(0,0,0,.2)!important;
	text-shadow: 1px 1px 1px #333;
}
.contact-img
{
	float: left;
	height: 54px;
	text-align: center;
	width: 54px;
}
.contact-img img
{
	border-radius: 4px;
	height: 54px;
	width: 54px;
}
.contact-img .icon
{
	display: block;
	font-size: 28px;
	line-height: 54px;
	text-align: center;
	width: 100%;
}
.contact-name
{
	float: left;
	font-size: 10px;
	font-weight: 400;
	line-height: 10px;
	margin-top: 6px;
	width: 100%;
}
#chat-mod .mod-act
{
	bottom: 0;
	height: 42px;
	left: 67px;
	position: absolute;
	right: 0;
	width: auto;
}
#chat-mod .mod-act button
{
	height: 29px;
}
#chat-mod .chat-form,#chat-mod .chat-inp
{
	height: 43px;
	left: -1px;
	margin: 0;
	position: absolute;
	right: 91px;
	top: 0;
}
#chat-mod .chat-inp
{
	border-bottom-color: #333;
	border-left-color: #333;
	border-radius: 0;
	border-top-color: #999;
	height: 43px;
	left: 0;
	padding-right: 86px;
	right: 0;
	top: -1px;
	width: 100%;
}
#chat-mod .chat-send
{
	font-size: 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
}
.chat-box .scroll-cont
{
	right: 0!important;
}
#ctrl-set
{
	bottom: auto;
	margin: 0 0 0 -280px!important;
	top: 25%;
	width: 560px;
}
#ctrl-set .ig8
{
	width: 50%;
}
#ctrl-set .ig8 label
{
	line-height: 45px;
	width: auto;
}
#ctrl-set label
{
	left: 10px;
	line-height: 50px;
	position: absolute;
	top: 0;
	width: 110px;
}
#ctrl-set .buttons,#ctrl-set .inp-cont
{
	float: right;
	position: relative;
	width: 50%;
}
#ctrl-set button
{
	height: 30px;
	position: relative;
}
#ctrl-set .close
{
	padding: 0 10px;
	width: auto;
}
#sidebar-pos button:before
{
	background: #5e5e5e;
	border-radius: 1px;
	box-shadow: 0 0 1px 1px #eee;
	content: '';
	height: 2px;
	left: 2px;
	position: absolute;
	top: 2px;
}
#sidebar-pos .top:before
{
	right: 2px;
}
#sidebar-pos .left:before
{
	bottom: 2px;
	height: auto;
	width: 2px;
}
#sidebar-pos .right:before
{
	bottom: 2px;
	height: auto;
	left: auto;
	right: 2px;
	width: 2px;
}
#sidebar-pos .bottom:before
{
	bottom: 2px;
	right: 2px;
	top: auto;
}
.dark #sidebar-pos button:before
{
	background: #bbb;
	box-shadow: 0 0 1px 1px #444;
}
.ui-row1
{
	height: 320px;
}
.ui-row2
{
	height: 260px;
}
.ui-row3
{
	height: 296px;
}
.ui-notifs
{
	height: 278px;
	padding: 0 20px;
}
.ui-notifs .notif
{
	display: block;
	float: none;
	margin-left: 0;
}
#cont-nav-box .row
{
	padding: 15px;
}
#cont-nav-box .buttons
{
	margin: 15px 15px 0 0;
}
#cont-nav-box button
{
	min-width: 80px;
}
.modal-demos
{
	padding: 0 0 15px 15px;
}
.modal-demos button,.modal-demos>p
{
	margin: 15px 15px 0 0;
}
.modal-demos>p
{
	height: 145px;
}
.ui-row3 label
{
	line-height: 20px;
}
.ui-row3 .cont
{
	width: 20%;
}
.ui-row3 .cont .ui-slider
{
	height: 224px;
	margin: 15px auto;
}
.inp-row1
{
	height: 278px;
}
.inp-btns button
{
	height: 32px;
}
.inp-btns .buttons,.inp-btns>button
{
	margin: 20px 20px 0 0;
	min-width: 120px;
}
.inp-btns .drop
{
	margin: 20px 20px 0 0;
}
.ver-code
{
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}
#other-inp
{
	z-index: 9;
}
#misc-inputs .checkbox-cont,#misc-inputs .radio-cont
{
	float: none;
	margin: 0 auto;
}
#text-editor
{
	z-index: 8;
}
#wysiwyg_ifr
{
	height: 299px!important;
}
.anlt-row1,.anlt-row1 .chart
{
	height: 300px;
}
.anlt-row2
{
	height: 480px;
}
.anlt-row2 .chart
{
	height: 440px;
	margin: 20px auto;
	width: 440px;
}
.anlt-row3,.anlt-row3 .chart
{
	height: 225px;
}
.anlt-row3 #donut
{
	height: 205px;
	margin: 10px auto;
	width: 205px;
}
#toastr-btns button
{
	margin: 15px 15px 0 0;
}
#typography span
{
	display: block;
	font-size: 15px;
	margin-bottom: 15px;
}
#grid-box-cont div,#grid-cont .box,#nested-grid div div
{
	padding: 12px 0 12px 10px;
}
#grid-box-cont span,#grid-cont span,#nested-grid span
{
	margin-right: 6px;
}
#grid-box-cont div,#nested-grid div
{
	background: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 3px;
	margin-top: 25px;
}
#nested-grid>div
{
	margin-bottom: 10px;
	padding: 0 10px 10px 0!important;
}
#nested-grid div div
{
	margin-top: 10px;
}
#grid-warning
{
	display: none;
}
.dark #grid-box-cont div,.dark #nested-grid div
{
	background: rgba(0,0,0,.15);
}
#notif-mod .mod-body
{
	padding: 0 13px;
}
#notif-mod .al-c
{
	line-height: 40px;
}
.page-refresh
{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}
.err-cont
{
	left: 0;
	margin-top: -150px;
	position: absolute;
	text-shadow: 0 1px 1px #fff;
	top: 50%;
	width: 100%;
	z-index: 98;
}
.err-cont h1
{
	color: #555;
	float: left;
	font-size: 20px;
}
.err-cont .error-nr
{
	font-size: 150px;
	text-align: center;
	width: 100%;
}
.error-msg
{
	font-size: 24px;
}
.error-desc
{
	font-size: 15px;
	line-height: 22px;
}
.error-act,.error-desc,.error-msg
{
	color: #555;
	float: left;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}
.error-act
{
	display: block;
}
.error-act .button
{
	display: inline-block;
	line-height: 26px;
}
.dark .err-cont
{
	text-shadow: 0 1px 0 #555;
}
.dark .err-cont h1
{
	color: #333;
	text-shadow: none;
}
.dark .error-desc,.dark .error-msg
{
	color: #eee;
}
.doc-page
{
	left: 160px!important;
	padding-bottom: 30px!important;
	padding-right: 20px;
	right: 0!important;
	top: 0!important;
}
.doc-nav
{
	float: left;
	left: 15px;
	position: fixed;
	top: 20px;
	width: 120px;
}
.doc-nav li
{
	float: left;
	margin: 10px 0 0;
	width: 100%;
}
.doc-nav .button
{
	float: left;
	height: 34px;
	line-height: 32px;
	width: 100%;
}
.doc-nav .active .button
{
	background-color: #999;
}
.doc-page .box
{
	margin-left: 0!important;
	padding: 10px;
}
.doc-page .box h2,.doc-page .box p
{
	margin-top: 0;
}
#doc-intro p
{
	font-weight: 700;
	white-space: nowrap;
	width: 33.3%;
}
#doc-intro span
{
	font-weight: 400;
	margin-left: 6px;
	text-align: right;
}
.doc-page a
{
	color: #4b96cf;
}
.doc-page h2,.doc-page h3,.doc-page h4,.doc-page p,.doc-page ul
{
	float: left;
	margin-top: 20px;
	width: 100%;
}
.doc-page h2
{
	margin-top: 30px;
}
.doc-page hr
{
	float: left;
	margin: 30px 0 0;
	width: 100%;
}
.doc-page li
{
	line-height: 24px;
	margin-bottom: 12px;
}
.doc-page li.last
{
	margin-bottom: 0;
}
.doc-page ul
{
	margin-left: 10px;
	margin-top: 20px;
}
.doc-page ul ul
{
	margin-left: 20px;
	margin-top: 10px;
}
.doc-page li span
{
	font-weight: 700;
}
.doc-page .box ul
{
	margin-top: 10px;
}
.doc-page .content pre
{
	padding: 10px;
}
.doc-page .box:not(.inp-grp-cont) input,.doc-page .select
{
	float: left;
	margin-top: 10px;
	width: 250px;
}
.doc-page .details
{
	display: block;
	float: left;
	margin-top: 15px!important;
	width: 100%;
}
.doc-page .content .snippet-container
{
	margin-top: 0!important;
}
.snippet-container
{
	float: left;
	margin-top: 20px!important;
	width: 100%;
}
.snippet-container .box
{
	margin-top: 0!important;
	width: 100%;
}
.pre-cont input
{
	margin-top: 15px!important;
}
.pre-cont .drop
{
	margin-left: 0!important;
}
.pre-cont .snippet-container
{
	margin-top: 10px;
	width: 100%;
}
.pre-cont .snippet-container:first-of-type
{
	margin-top: 0!important;
}
.jqtag
{
	background-color: rgba(0,0,0,.1);
	font-weight: 700!important;
	letter-spacing: 1px;
}
.doc-page p .jqtag
{
	margin-left: 14px;
}
.doc-page .tag,pre li,pre span
{
	moz-user-select: text;
	user-select: text;
	webkit-touch-callout: text;
	webkit-user-select: text;
}
.doc-page pre li
{
	line-height: 16px;
}
.doc-page .button,.doc-page .buttons,.doc-page button
{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
.doc-page .file-sel,.doc-page .spinner-body
{
	float: left;
	margin-top: 10px;
	width: 250px;
}
.doc-page .file-sel input,.doc-page .inp-grp button,.doc-page .spinner-body button,.doc-page .spinner-body input
{
	margin: 0!important;
}
.doc-page .file-sel
{
	margin-top: 10px;
}
.doc-page .select ul
{
	margin: 0;
	padding: 0;
	width: 250px;
}
.doc-page .drop:not(.select) ul
{
	margin: 0;
	margin-top: 10px;
	padding: 0;
	width: 200px;
}
.doc-page .drop li
{
	margin-bottom: 0!important;
}
.doc-page .checkbox
{
	float: left;
}
.dark .doc-page a
{
	color: #b2dfff;
}
.dark .doc-page .box a
{
	color: #75baeb!important;
}
.dark .doc-page>h2,.dark .doc-page>h3,.dark .doc-page>h4,.dark .doc-page>p,.dark .doc-page>ul li
{
	color: #eee;
	text-shadow: 0 1px 0 #555;
}
.dark .doc-page .tag
{
	background-color: #777;
	text-shadow: 0 1px 0 #444;
}
@media only screen and (min-width:1321px) and (max-width:1520px)
{
	.inp-row1
	{
		height: 320px;
	}
	#sample-form>button,#sample-form>div,#sample-form>input
	{
		margin-top: 22px!important;
	}
}
@media only screen and (max-width:1500px)
{
	.ui-row2
	{
		height: 287px;
	}
	.modal-demos>p
	{
		height: 172px;
	}
	.ui-tag-box
	{
		width: 98%!important;
	}
	.anlt-row2 .chart
	{
		height: 360px;
		margin: 60px auto;
		width: 360px;
	}
	.anlt-row3 #donut
	{
		height: 165px;
		margin: 30px auto;
		width: 165px;
	}
}
@media only screen and (min-width:1101px) and (max-width:1320px)
{
	#ctrl-box,#intro-box,#ui-acc-box
	{
		width: 58%!important;
	}
	#dash-chart,#task-box,#ui-notifs-box
	{
		width: 38%!important;
	}
	.inp-btns,.inp-row1
	{
		width: 98%!important;
	}
}
@media only screen and (max-width:1280px)
{
	.top-bar
	{
		height: auto!important;
	}
	#dash-cal,.spark,.stat
	{
		width: 25%;
	}
	.spark
	{
		border-right-width: 0!important;
	}
	#alerts
	{
		border-bottom-width: 0;
		border-radius: 0 0 0 3px;
		width: 75%;
	}
	#alerts.expand
	{
		border-bottom-width: 1px!important;
		border-radius: 0;
	}
	#alerts,#dash-cal
	{
		border-top: 1px solid rgba(0,0,0,.4);
	}
}
@media only screen and (max-width:1100px)
{
	.anlt-page>.box,.dash-page>.box,.inp-page>.box,.ui-page>.box
	{
		width: 97%!important;
	}
	#ui-bar .item
	{
		width: 50%!important;
	}
	#ui-bar .buttons
	{
		border-right-width: 0;
	}
	#ui-bar .ig3
	{
		border-top: 1px solid rgba(0,0,0,.4);
		width: 50%!important;
	}
	.ui-row2
	{
		height: 248px;
	}
	.modal-demos>p
	{
		height: 133px;
	}
	.drop
	{
		margin: 15px 0 0 3%;
	}
}
@media only screen and (max-width:860px)
{
	#chat-mod
	{
		left: 0!important;
		margin: -250px 5% 0 5%!important;
		width: 90%!important;
	}
	#wizard
	{
		height: 340px;
	}
}
@media only screen and (max-width:740px)
{
	#sidebar
	{
		border-bottom: 1px solid #333;
		border-right-width: 0;
		bottom: auto;
		box-shadow: inset 0 -1px 6px rgba(0,0,0,.3);
		height: 71px;
		min-height: 36px;
		padding-left: 80px;
		right: 0;
		width: 100%!important;
	}
	#sidebar.light
	{
		border-bottom: 1px solid #666;
		box-shadow: inset 0 -1px 6px rgba(0,0,0,.1);
	}
	#nav
	{
		border-top: 0!important;
		height: 0;
		left: 0;
		overflow: hidden;
		padding-top: 72px;
		right: 0;
		top: 0;
		width: 90px;
	}
	#nav:hover
	{
		height: 212px!important;
		overflow: visible;
		width: 248px;
	}
	#nav .sub-nav
	{
		border-radius: 0 0 3px 3px;
		box-shadow: 0 1px 8px rgba(0,0,0,.4),0 -1px 7px rgba(255,255,255,.3);
		left: 0!important;
		top: 80%;
	}
	#nav>li
	{
		background: #555;
		border: 1px solid #333;
		border-radius: 2px;
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 3px rgba(0,0,0,.2);
		float: left;
		height: 70px!important;
		margin: 1px;
		width: 80px!important;
	}
	#nav li:hover .sub-nav
	{
		top: 100%;
	}
	#avatar
	{
		float: right;
		margin: 7px 7px 7px 0;
	}
	#user-notif
	{
		float: right;
		height: 70px;
		width: 30px;
	}
	#user-notif>div
	{
		height: 35px;
		padding: 7px 0 0!important;
		text-align: center;
		width: 100%;
	}
	#coll-sidebar:before
	{
		text-align: center;
	}
	#nav li.active
	{
		border: 0;
		border-radius: 2px;
		box-shadow: 1px 1px 2px rgba(0,0,0,.4)!important;
		height: 62px!important;
		left: 4px;
		margin: 0;
		position: absolute;
		top: 4px;
		width: 80px!important;
	}
	#nav li.active:hover .sub-nav
	{
		display: none!important;
	}
	#logout
	{
		position: relative!important;
		right: auto;
	}
	#content
	{
		left: 0!important;
		top: 71px;
	}
	.mini #sidebar,.mini.sidebar-hz #nav
	{
		height: 36px;
	}
	.mini #avatar
	{
		border-bottom: 0;
		border-right: 1px solid #333;
	}
	.mini #user-notif
	{
		height: 35px;
		width: 60px;
	}
	.mini #user-notif>div
	{
		padding: 4px 0 0!important;
		width: 50%;
	}
	.mini #nav
	{
		height: 35px;
		padding-left: 1px;
		padding-top: 37px!important;
		width: 40px;
	}
	.mini #nav:hover
	{
		height: 115px!important;
		width: 130px;
	}
	.mini #nav .nav-icon
	{
		font-size: 16px;
		height: 35px;
		line-height: 35px;
		margin-top: 0;
	}
	.mini #nav>li
	{
		height: 35px!important;
		width: 40px!important;
	}
	.mini #nav li.active
	{
		border-radius: 0;
		box-shadow: inset 1px 2px 1px #fff,0 -3px 3px 1px rgba(0,0,0,.4);
		left: 0!important;
		margin: 0!important;
		top: 0!important;
	}
	.mini #content
	{
		top: 36px;
	}
	#dash-bar
	{
		padding-bottom: 59px;
	}
	.spark,.stat
	{
		width: 50%!important;
	}
	#alerts
	{
		border-radius: 0;
	}
	#alerts.expand
	{
		box-shadow: 1px 1px 0 #333;
	}
	#alerts,#stat2
	{
		border-right-width: 0;
	}
	#stat3,.spark
	{
		border-top: 1px solid rgba(0,0,0,.4);
	}
	#alerts,#dash-cal
	{
		width: 100%!important;
	}
	#dash-cal
	{
		border-radius: 0 0 3px 3px;
		bottom: 0;
		left: 0;
		position: absolute;
	}
	#ctrl-box
	{
		height: 320px!important;
	}
	#sys-stats
	{
		height: 318px;
		padding-right: 0!important;
	}
	#gages
	{
		border-left: 0;
		border-top: 1px solid rgba(0,0,0,.4);
		bottom: 42px;
		box-shadow: none!important;
		height: 80px;
		left: 0;
		top: auto;
		width: 100%;
	}
	#gages .gage
	{
		border-bottom: 0;
		border-right: 1px solid rgba(0,0,0,.4);
		height: 80px;
		width: 33.33%!important;
	}
	#gages .gage:after
	{
		display: none;
	}
	#gages .gage:last-child
	{
		border-right: 0;
	}
	#sys-updates
	{
		right: 0;
	}
	#chk-up-btn
	{
		border-radius: 0 0 3px!important;
	}
	#profile-set .g8
	{
		margin-left: 2.5%!important;
		width: 97%!important;
	}
	#ui-bar .notifs
	{
		border-right: 0;
	}
	#ui-bar .buttons
	{
		border-top: 1px solid rgba(0,0,0,.4);
	}
	#ui-bar .buttons,#ui-bar .notifs
	{
		width: 100%!important;
	}
	.modal-ov
	{
		display: none;
	}
	.modal-ov.show
	{
		display: block;
	}
	#content.doc-page
	{
		left: 10px!important;
		padding-right: 0!important;
		right: 10px!important;
		top: 328px!important;
	}
	.doc-nav
	{
		left: 50%;
		margin-left: -60px;
		position: absolute!important;
	}
}
@media only screen and (max-width:680px)
{
	#content
	{
		padding: 0 15px 15px!important;
	}
	#content>.box,#content>.notif
	{
		margin-left: 0!important;
		margin-right: 0!important;
		width: 100%!important;
	}
	#ctrl-set
	{
		left: 0!important;
		margin: 0 5%!important;
		width: 90%!important;
	}
	#grid-warning
	{
		display: block!important;
	}
	.box.g1,.box.g2,.box.g3,.box.g4,.box.g5,.box.g6,.box.g7,.box.g8
	{
		margin-left: 0!important;
		width: 100%!important;
	}
	.ui-row2
	{
		height: 310px;
	}
	#modal-demo-box
	{
		height: auto!important;
	}
	.modal-demos>p
	{
		height: auto;
	}
	#filemgr-box
	{
		display: none!important;
	}
	#grid-cont div
	{
		width: 100%!important;
	}
	#grid-cont .box
	{
		margin-left: 0!important;
	}
	#grid-cont .box.g8:first-of-type
	{
		margin-right: 2%!important;
	}
	#grid-box,#nested-grid
	{
		display: none!important;
	}
}
@media only screen and (max-width:560px)
{
	.ui-row3
	{
		height: auto!important;
	}
	.ui-row3 label
	{
		margin-bottom: 10px;
	}
	.ui-row3 .row .ig12,.ui-row3 label
	{
		width: 100%!important;
	}
	#doc-intro
	{
		padding-bottom: 0;
	}
	#doc-intro p
	{
		margin-bottom: 10px;
		width: 100%;
	}
}
@media only screen and (max-width:500px)
{
	#alerts
	{
		height: 76px;
		min-height: 76px;
	}
	#alerts .content
	{
		height: 75px;
		padding: 7px 0 0 6px!important;
	}
	#alerts .expand-content
	{
		margin-top: 75px;
	}
	#last-chat
	{
		height: 41px!important;
	}
	#chat-notif
	{
		padding-left: 0!important;
	}
	#alerts .msg-time
	{
		display: block;
		margin-left: 0;
		margin-top: 4px;
		width: 100%;
	}
	#ctrl-box
	{
		height: 463px!important;
	}
	#sys-stats
	{
		height: 461px;
	}
	#sys-pbars,#ver-stats
	{
		margin: 10px 5% 0!important;
		width: 90%!important;
	}
	#ver-stats strong
	{
		width: 160px;
	}
	#gages
	{
		border: 0;
		height: 70px;
	}
	#gages .gage
	{
		border: 0;
		height: 60px;
		margin: 5px auto;
	}
	#sys-updates
	{
		padding-left: 5%!important;
	}
	#chk-up-btn
	{
		font-size: 0!important;
		text-align: center;
		width: 44px;
	}
	#chk-up-btn .icon
	{
		font-size: 20px;
		margin-right: 0;
	}
	#ctrl-set .row
	{
		width: 100%!important;
	}
	#ctrl-set .bd-right
	{
		border-right: 0!important;
	}
	#ctrl-set .buttons,#ctrl-set .inp-cont
	{
		width: 100%!important;
	}
	#ctrl-set label
	{
		display: inline-block;
		line-height: 20px!important;
		margin-bottom: 10px;
		position: static!important;
	}
	#ctrl-set .ig8 label
	{
		line-height: 26px!important;
		margin-bottom: 0!important;
	}
	#profile-set .buttons
	{
		margin-top: 10px!important;
	}
	#profile-av
	{
		height: auto!important;
		margin: 10px 10px 0;
	}
	#profile-av-info
	{
		height: 60px;
	}
	#profile-set>.g16
	{
		margin-top: 10px;
	}
	#profile-role
	{
		padding-left: 85px!important;
		padding-top: 0!important;
	}
	#intro
	{
		height: 553px;
	}
	#inp-form-box
	{
		height: auto!important;
	}
	#inp-form-box .content
	{
		padding: 0 15px 15px!important;
	}
	#sample-form>div,#sample-form>input
	{
		margin: 15px 0 0!important;
		width: 100%!important;
	}
	#sample-form>button
	{
		width: 200px!important;
	}
	#wizard
	{
		height: 425px;
	}
	.anlt-row1,.anlt-row1 .chart
	{
		height: 200px;
	}
	.anlt-row2
	{
		height: 380px;
	}
	.anlt-row2 .chart
	{
		height: 260px;
		margin: 60px auto;
		width: 260px;
	}
	.anlt-row3,.anlt-row3 .chart
	{
		height: 190px;
	}
	.anlt-row3 #donut
	{
		margin: 12px auto;
	}
	.inp-cont
	{
		padding-left: 0!important;
		padding-top: 30px!important;
	}
	.inp-cont label
	{
		margin-top: 0!important;
		padding-left: 10px!important;
		top: 0!important;
		width: 100%!important;
	}
	.rows-pad-m .row.inp-cont
	{
		padding: 30px 15px 15px!important;
	}
	.modal-ov
	{
		bottom: 0!important;
		padding: 5px!important;
		position: absolute!important;
	}
	#wrapper>.modal-ov
	{
		min-height: 600px;
		padding: 75px 5px 20px!important;
		position: fixed!important;
	}
	.modal-ov .modal
	{
		width: 100%!important;
	}
	.modal-ov .modal.show
	{
		bottom: auto!important;
		left: 0!important;
		margin: 0 0 15px!important;
		position: relative!important;
		top: 0!important;
	}
	#wrapper.mini>.modal-ov
	{
		padding-top: 40px!important;
	}
	#chat-mod,#ctrl-set
	{
		margin: 0 0 15px!important;
		width: 100%!important;
	}
}
@media only screen and (max-width:460px)
{
	#chat-mod .mod-body
	{
		padding-bottom: 84px!important;
	}
	#chat-mod .mod-act
	{
		height: 84px!important;
		padding-top: 42px;
	}
	#chat-mod .chat-form
	{
		right: 0;
	}
	#chat-mod input
	{
		border-right-width: 0;
		padding-right: 10px!important;
	}
	#chat-mod .chat-send
	{
		left: 0!important;
		right: auto!important;
		top: 42px!important;
	}
	#ui-bar .ig3
	{
		border-right: 0!important;
		width: 100%!important;
	}
	.nav-menu li
	{
		font-size: 11px!important;
		padding: 0 10px!important;
	}
	.breadcrumbs li
	{
		font-size: 11px!important;
		padding: 0 0 0 10px!important;
	}
	.breadcrumbs li:after
	{
		margin-left: 10px!important;
	}
	#cont-nav-box
	{
		height: 340px!important;
	}
	#cont-nav-box button
	{
		min-width: 50px!important;
	}
	#cont-nav-box .row.pad-m
	{
		padding: 10px!important;
	}
	#cont-nav-box .buttons
	{
		margin: 0 0 10px!important;
		width: 100%!important;
	}
	#cont-nav-box .buttons button
	{
		width: 50%!important;
	}
	#nav-position.buttons button
	{
		width: 25%!important;
	}
	#nav-position button .icon,#ui-datepicker-div,#ui-datepicker-div:after,#ui-datepicker-div:before
	{
		display: none;
	}
}
@media only screen and (max-width:400px)
{
	#content
	{
		padding: 0 7px 7px!important;
	}
	#content>.box
	{
		margin-left: 0!important;
		width: 100%!important;
	}
	#alerts .unread-msg
	{
		position: absolute;
		right: 6px;
		top: 25px;
	}
	#head-btns-box,#text-editor
	{
		display: none!important;
	}
	.box.inp-btns
	{
		padding: 0!important;
	}
	.inp-btns .buttons,.inp-btns .drop,.inp-btns>button
	{
		margin: 10px;
	}
	.inp-btns .buttons
	{
		width: 100%;
	}
	#toastr-btns
	{
		padding: 15px 15px 0!important;
	}
	#toastr-btns button
	{
		margin: 0 0 15px!important;
		width: 100%!important;
	}
	.err-cont
	{
		padding: 0 10px!important;
	}
}