/* CSS Document */

header { background:#f0f0f0; padding:1rem 0; margin:0 0 1rem 0}
.bslogo { width:100px; height:75px; margin: 5px auto  5px auto; display: table;}

/*================ rt box ===============*/
.rt-box { background:#f5f5f5; border:1px solid #dce0e1; margin:0 auto; display:table; padding:1rem; width:100%;}
.check-mark { display:none;}
.scroll {
    height: 222px;
    overflow-y: auto;
    overflow-x: hidden;
}
.pname{
    display: inline-block;
    overflow: auto;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.table { margin-bottom:0;}
#rtBox thead { background:#3b8dbd; color:#fff;}
#rtBox a { color:#c9302c;}
#rtBox a:hover { color:#d9534f;}
.ProName { background:#ff7518; padding:5px;}
.ProName:hover { background:#ee6000; transition: background ease 2s;}
.ProName a { color:#fff !important;}
.ProName a:hover { text-decoration:none; }
.smaller { font-size:10px; font-weight:bold;}
.thVal { width:3rem; background:none; border:none; text-align:right;}
/*
#rtBox table{
 height:300px; 
}
#rtBox tbody { width: 100%; height: 120px; overflow-y: scroll;} 
*/

/* Crousal slider */
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 4px 10px;
	font-size: 14px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	font-weight:bold;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div{
  background : #5bc0de;
  text-align: center;
  padding:12px 0px;
  margin:3px;
  color: white;
  font-size:14px;
  border:1px white;
  font-weight:bold;
}

.owl-item a { color:#fff;}
.owl-item a:hover { color:#1d465e; text-decoration:none;}

.wrapper-with-margin{
  margin:0px 50px;
}

 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 6px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 6px;
}

/*** products added ***/
.btnPro { background:#f5f5f5; border:1px solid #eee; margin-bottom:1rem; width:100%; height:11rem; border-radius:4px; cursor:pointer; text-align:center; vertical-align:middle; display:inline-block; padding-top:7px;}
.btnPro:hover { background:#e7e7e7; transition: background ease 2s;}
.btnPro img { width:58px; height:auto; border-radius:4px; margin:0 auto;}
.btnPro h2 { font-size:12px; color:#333 !important;}

/****** C Slider *******/
#cslide-slides h2 {
    margin-bottom:10px;
    font-weight: 700;
	font-size:12px;
}
/*=Slides
----------------------------------------------- */
#cslide-slides {

}
.cslide-slides-master {
    overflow: hidden;
    margin-bottom:60px;
}
.cslide-slides-master:last-child {
    margin-bottom:0;
}
.cslide-slides-container {
    visibility: hidden;
}
.cslide-slide {
    float:left;
/*  padding:30px;
    border:solid 10px rgb(150,30,50);
    background-color:rgb(200,80,100); */
}
.cslide-slide h2,
.cslide-slide p {
    color:#fff;
}
/* prev next buttons */
.cslide-prev-next {
    margin-bottom: 30px;
    display: none;
    text-align: right;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cslide-prev,.cslide-next {
    display:inline-block;
    background:rgb(100,200,150);
    color:#fff;
    padding:10px 20px;

    border-bottom:solid 5px rgb(50,150,100);

    cursor: pointer;
}
.cslide-prev:hover,
.cslide-next:hover {
    background:rgb(75,175,125);
}
.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
    background:rgb(100,200,150);
}
.cslide-disabled {
    opacity: 0.3;
}

/*====================== sidebar menu =========================*/
/*********** 5.SIDEBAR ***********/
#wrapper {}
.side-menu {
  width: 180px;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.side-menu.left {
  background: #ffffff;
  position: absolute;
  top: 70px;
  right: 0; 
}
body.fixed-left .side-menu.left {
  margin-top: 0px;
  position: fixed;
  height: 100%;
  bottom: 50px;
  margin-bottom: -70px;
  padding-bottom: 70px;
}
.content-page {
/*  margin-right: 180px; /*rtl margin-left */
  overflow: hidden;
  position: relative;
  min-height: 940px;
}
.content-page > .content {
  margin-top: 70px;
  margin-bottom: 60px;
  padding: 20px 5px;
  position: relative;
}
.button-menu-mobile {
  font-size: 21px;
  background: transparent;
  color: #888;
  border: none;
  line-height: 70px;
  color: #cecece;
  padding: 0px 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.button-menu-mobile:hover {
  color: #eee;
}
.sidebar-inner {
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;    
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  position: relative;
}
#sidebar-menu a {
  line-height: 1.3;
}
#sidebar-menu {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 50px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
#wrapper.enlarged #sidebar-menu {
  text-align: left;
}
#sidebar-menu > ul > li > a {
  display: block;
  color: #444;
  padding: 15px 30px;
  height: 3em;
  text-align: center;
}
#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}
#sidebar-menu > ul > li > a > span.pull-right {
  display: none;
}
#sidebar-menu > ul > li > a:hover {
  background: #f3f3f3;
}
#sidebar-menu > ul > li > a > i {
  display: block;
  font-size: 18px;
  line-height: 17px;
}
#sidebar-menu > ul > li > a > .glyphicon { display: block !important; font-size: 18px; line-height: 17px; padding-left: 0 !important; float: left;}

#wrapper.enlarged #sidebar-menu > ul > li > a > i {
    display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: -9px; /* margin-left: 3px; */
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
#sidebar-menu > ul > li > a > i.i-right {
  margin: 3px 0 0 0;
  float: right;
}
#sidebar-menu > ul > li > a:hover {
  text-decoration: none;
}
#sidebar-menu > ul > li > a.active,
#sidebar-menu > ul > li > a.active.subdrop {
  background: #f3f3f3 !important;
}
.subdrop {
  background: #f3f3f3;
}

#sidebar-menu ul ul {
  display: none;
}

#sidebar-menu ul ul li {
  border-top: 0;
}
#sidebar-menu ul ul li.active a{
  color: #272c35;
}
#sidebar-menu ul ul a {
  padding: 10px 25px 10px 25px;
  display: block;
  color: #75798B;
  text-align: center;
}
#sidebar-menu ul ul a:hover {
  color: #272c35;
}
#sidebar-menu ul ul ul a {
  padding-left: 80px;
}
#sidebar-menu ul ul a i {
  margin-right: 5px;
}
#wrapper.enlarged #sidebar-menu ul ul {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a{
  padding-right: 0; /*rtl padding-left: 10px; */
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a:hover {
  background-color: #f3f3f3 !important;
}
#wrapper.enlarged .left.side-menu {
  width: 50px;
  z-index: 5;
}
#wrapper.enlarged .content-page {
  margin-right: 50px; /*rtl changed left to right */
}
#wrapper.enlarged .topbar .topbar-left {
  width: 74px !important;
  margin-left: 2em;
}
#wrapper.enlarged .topbar .topbar-left .logo {
  width: 100%;
  height: auto;
  position: relative;
  top: 1em;
}
#wrapper.enlarged .topbar .topbar-left .logo span{
  opacity: 0;
  display: none;
}
#wrapper.enlarged .left.side-menu span.pull-right {
  display: none !important;
}
#wrapper.enlarged .topbar .topbar-left .logo i {
  margin-right: 0px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
  white-space: nowrap;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
  display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  background: #eee;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open:after,
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.active:after {
  display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul {
  position: absolute;
  right: 50px; /*rtl - left: */
  width: 190px;
  display: block;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul {
  position: absolute;
  left: 190px;
  margin-top: -36px;
  width: 190px;
  display: block;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: #fff;
  padding-left: 15px;
  border: none;
  width: 190px;
  box-shadow: none;
  z-index: 6;
  position: relative;
  border-left: 3px solid #edf0f0;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
  display: none;
  padding-left: 10px;
  position: relative;
  right: 13px;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  width: 190px;
  position: relative;
  right: 13.5em;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul > li:hover > a {
  width: 190px;
  position: relative;
  right: 0;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
  position: relative;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span {
  display: inline;
}

.user-details {
  position: relative;
  min-height: 80px;
  padding: 20px;
  text-align: center;
}
.user-details .pull-left {
  float: none !important;
}
.user-details img {
  position: relative;
  z-index: 9999;
}
.user-details .user-info {
  z-index: 99999;
  position: relative;
  color: #444;
}
.user-details .user-info a.dropdown-toggle {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #666;
  font-size: 16px;
  padding-top: 5px;
  display: block;
}

#wrapper.enlarged .left.side-menu .user-details {display: none;}

/*===================== Modal center ====================*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-container {background: #fff;text-align: center;}

/*================================= Responsive table =================================*/
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	/*	padding-left: 50%; */
        padding: 0 3em;
		white-space: normal;
		text-align:center;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data/* Mobile Layout: 320px. */
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

.dateplace {border: 3px solid #dfdfdf;padding: .3em;border-radius: 6px;position: relative;top: -1em;}

@media only screen and (max-width: 1024px) { .dateplace {top: 0;} } 
.dateplace h5 {text-align: center;}
.btn-sm {text-align: right;}

.redclrBox {
    background: #e14e4e none repeat scroll 0 0;
    height: 8rem;
    margin-bottom: 1.5em;
}
.redclrBox h1 {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
.redclrBox h3 {
    background: #e35b5a none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    height: 37px;
    padding: 12px 5px 5px 5px;
    text-align: center;
}
.blueclrBox {
    background: #4c87b9 none repeat scroll 0 0;
    height: 8rem;
    margin-bottom: 1.5em;
}
.blueclrBox h1 {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
.blueclrBox h3 {
    background: #578ebe none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    height: 37px;
    padding: 12px 5px 5px 5px;
    text-align: center;
}

.dropdown-menu > li > a {text-align: right;}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { .btn{width: 100%;} .list-inline > li {display: table;margin: 0 auto 5px auto;width: 30%; float: left;} }
/* Mobile Layout: 320px. */
@media only screen and (max-width: 980px) { .btn{width: 100%;} .list-inline > li {display: table;margin: 0 auto 5px auto;width: 18%; float: left;} }

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { .moverite {margin-right: 1.5em;} .nofluid {float: none !important;} }
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { .owl-theme .owl-controls .owl-buttons div {position: relative; margin-bottom: 1em;} }

.corrections-label {text-align: right;}
.corrections_bg {background: #f5f5f5; border: 1px solid #ddd; padding-top: 1em;margin-bottom: 1em;}
.corrections_rt {padding-right: 1.1em;}

/*============= Image Uploader ==================*/
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/*=================== inline checkbox & radio ====================*/
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -18px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

.correctionbg {background: #5bc0de; padding-top: 1rem; color: #fff; font-size: 20px; }
.notpad {padding-top: 0; }
.yestpad {padding-top: 1em; }
.fancychk {float: right;}
.fancytxt {line-height: 2em; text-indent: .5em;}

.rtxt_head {font-size: 27px;}
.rtxt_nums {font-size: 27px; float: right;}

@media only screen and (max-width: 768px) {
  .rttxtnums {margin-top: 2rem;} 
  .rtxt_head {font-size: 16px; font-weight: bold;} 
  .rtxt_nums {font-size: 16px;} 
  .form-control-sm {padding: 6px 4px; height: 22px;}
}

@media only screen and (max-width: 568px) { .qrtxt_nums {float: none;} }

.btn-warning {
  position:relative;
}

.btn-warning .badge {background-color: #f05050;color: #fff;}

.btn-warning .badge {
  
    position: absolute;
    right: -10px;
    top: -10px;
}

.npadleft {padding-left: 0; font-size: 12px;}
ul.listbox {width: 100%; float: left; padding: 0;}
ul.listbox li {float: left;list-style: none;}

.reflabel {line-height: 2.5em; font-size: 13px; margin-bottom: 0;}
.refbox {width: 70% !important;padding: 0 5px !important;height: 28px;font-size: 11px !important; margin-left: 1.5em;}
.barcodebox {width: 35.2%; height: 28px;font-size: 11px !important;}

