/* CSS Document */
p {direction: rtl;}

.moverite { float:right;}
.moveleft { float:left;}
.direct { direction:rtl;}

.bslogo { float:right;}
.table { direction:rtl;}
.table h1 {direction:rtl;}
.form-control {direction:rtl;}
.table > thead > tr > th { text-align:right;}


