/*@font-face {
    font-family: 'NotoSansArabic';
    src:  url('../fonts/NotoSansArabic-Regular.ttf') format('truetype');
}*/

*{
    //font-family: tahoma;
}

.table{
    min-height: 280px;
    border-collapse:collapse; table-layout:fixed;
}

td,th{
    text-align: center;
    //font-weight: bold;
    vertical-align: middle !important;
    word-wrap:break-word;
}

td{
     font-size: 18px;
}


.panel-footer-custom-red  {
    background:#F2DEDE;
}

.panel-footer-custom-green  {
    background:#DFF0D8;
}

.panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
}
.panel-actions a {
    color:#333;
}
.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}