/* CSS Document */

header { background:#f0f0f0; padding:1rem 0; margin:0 0 2rem 0}
.bslogo { width:100px; height:75px;}

/*================ rt box ===============*/
.rt-box { background:#f5f5f5; border:1px solid #dce0e1; margin:0 auto; display:table; padding:1rem; width:100%;}
.check-mark { display:none;}
.scroll {
    height: 222px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table { margin-bottom:0;}
#rtBox thead { background:#3b8dbd; color:#fff;}
#rtBox a { color:#c9302c;}
#rtBox a:hover { color:#d9534f;}
.ProName { background:#ff7518; padding:5px;}
.ProName:hover { background:#ee6000; transition: background ease 2s;}
.ProName a { color:#fff !important;}
.ProName a:hover { text-decoration:none; }
.smaller { font-size:10px; font-weight:bold;}
.thVal { width:3rem; background:none; border:none; text-align:right;}
/*
#rtBox table{
 height:300px; 
}
#rtBox tbody { width: 100%; height: 120px; overflow-y: scroll;} 
*/

/* Crousal slider */
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 4px 10px;
	font-size: 14px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	font-weight:bold;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div{
  background : #5bc0de;
  text-align: center;
  padding:12px 0px;
  margin:3px;
  color: white;
  font-size:14px;
  border:1px white;
  font-weight:bold;
}

.owl-item a { color:#fff;}
.owl-item a:hover { color:#1d465e; text-decoration:none;}

.wrapper-with-margin{
  margin:0px 50px;
}

 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 6px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 6px;
}

/*** products added ***/
.btnPro { background:#f5f5f5; border:1px solid #eee; margin-bottom:1rem; width:100%; height:11rem; border-radius:4px; cursor:pointer; text-align:center; vertical-align:middle; display:inline-block; padding-top:7px;}
.btnPro:hover { background:#e7e7e7; transition: background ease 2s;}
.btnPro:hover { background:#ccc; transition: background ease 2s;}
.btnPro img { width:58px; height:auto; border-radius:4px; margin:0 auto;}
.btnPro h2 { font-size:12px; color:#333 !important;}

/****** C Slider *******/
#cslide-slides h2 {
    margin-bottom:10px;
    font-weight: 700;
}
/*=Slides
----------------------------------------------- */
#cslide-slides {

}
.cslide-slides-master {
    overflow: hidden;
    margin-bottom:60px;
}
.cslide-slides-master:last-child {
    margin-bottom:0;
}
.cslide-slides-container {
    visibility: hidden;
}
.cslide-slide {
    float:left;
/*  padding:30px;
    border:solid 10px rgb(150,30,50);
    background-color:rgb(200,80,100); */
}
.cslide-slide h2,
.cslide-slide p {
    color:#fff;
}
/* prev next buttons */
.cslide-prev-next {
    margin-bottom: 30px;
    display: none;
    text-align: right;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cslide-prev,.cslide-next {
    display:inline-block;
    background:rgb(100,200,150);
    color:#fff;
    padding:10px 20px;

    border-bottom:solid 5px rgb(50,150,100);

    cursor: pointer;
}
.cslide-prev:hover,
.cslide-next:hover {
    background:rgb(75,175,125);
}
.cslide-prev.cslide-disabled:hover,
.cslide-next.cslide-disabled:hover {
    background:rgb(100,200,150);
}
.cslide-disabled {
    opacity: 0.3;
}



