/* CSS doc by Asif */

/*================ Fonts ==================*/
@font-face {
    font-family: 'helvatica';
    src:url('arfonts/helvatica.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helvatica';
    src:url('arfonts/helvatica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'helvatica';
    src:url('arfonts/helvatice.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

/*================ General ==================*/

body {background: #dfdfdf;margin: 0; padding: 0;font-family: helvatica; font-size: 14px;}

h1 {font-size: 24px; text-indent: 1em; margin: 0; padding:0;}
p {font-size: 14px;}
table {width: 100%;}
table tr td { margin: 0; padding:0; }

/*================ Specific ==================*/
.gaptd {padding: .5em 1em; width: 33%; text-align: center;}
.ar_txt {text-align: right;}
.heading {background: #5bc0de; color: #fff; padding: 5px;}

/* Multi Colors */
.greenclr {background: #317f12; color: #fff;}
.greenltclr {background: #58cf29; color: #fff;}
.redclr {background: #d9534f; color: #fff;}
.greyclr {background: #f0f0f0; color: #151515;}

.greyborder {border-bottom: 1px solid #ccc;}

.wrapper {width: 640px; background: #fff; margin: 0 auto; padding: 0;}
.logo {margin: .5em auto; display: table;}

.bslogo {width: 120px; margin-top: 1em; float: left; padding-left: 3em;}
.footer {text-align: center;}
