body {
	padding: 0px;
	margin: 0px;
}

#cont
{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 20.99cm;
	background-color: #FFF;
	border: 1px solid #CECECE;
	padding-bottom: 3px;
}
#row-2 {
	background-color: #CCC;
	height: 104px;
	padding-top: 3px;
}
#bg {
	background-color: #f9f9f9;
	width: 98%;
	height: 90px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

#name-com
{
	float: left;
	margin-top: 32px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-top-color: #7AA228;
	border-bottom-color: #7AA228;
	border-bottom-style: dotted;
	margin-left: 210px;
}
#row-1 {
	height: 15px;
}




#name-com h4 {
	font-family: Arial, Helvetica, 		 sans-serif;
	font-size: 22px;
	margin-right: 0px;
	color: #4D6518;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.row-det-1 h3 {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.row-det-1 p {
	margin: 0px;
	padding: 0px;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
.row-det-1 {
	padding: 0px;
	margin-top: -3px;
	margin-right: 0px;
	margin-bottom: -3px;
	margin-left: 0px;
}
.det {
	float: right;
	width: 200px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin: 0px;
}
.table-1 {
	margin-top: 5px;
	margin-left: 35px;
	margin-right: 35px;
	border: 1px solid #999;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
}
.table-1 h4 {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}


.table-2 {
	margin-top: 5px;
	margin-left: 35px;
	margin-right: 35px;
}

.table-3 {
	margin-top: 5px;
	margin-left: 35px;
	margin-right: 35px;
}

.tab {
	margin-top: 2px;
	margin-bottom: 2px;
}

.title-table {
	background-color: #7AA228;
}
.coler-000 {
	background-color: #E9E9E9;
	border: 1px solid #999;
	margin-top: 20px;
	margin-left: 20px;
}

.coler-001 {
	background-color: #fff;
	border: 1px solid #999;
	margin-top: 20px;
	margin-left: 20px;
}



.coler-0005 {
	background-color: #E9E9E9;
	border: 1px solid #999;
	vertical-align: top;
	width: 2px;
}

.last-word p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.last-word {
	margin-top: 30px;
	width: 280px;
}
.last-word p span {
	font-size: 10px;
	font-weight: normal;
}
.Quota h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: 8px;
	color: #4D6518;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.Quota {
	zmargin-right: 35px;
	margin-left: 35px;

}






.coler-0015 {
	background-color: #fff;
	border: 1px solid #CCC;
	margin-top: 20px;
	margin-left: 20px;
	width: 300px;
}



.txt-table {
	background-color: #f2f2f2;
	border: 1px solid #CCC;
	padding-left: 12px;
}
.txt-table1 {
	background-color: #ffffff;
	border: 1px solid #CCC;
	padding-left: 12px;
}


.txt-table3 {
	background-color: #E9E9E9;
	border: 1px solid #CCC;
	padding-left: 12px;
	width: 100%;
}
.wed-table {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-right: 35px;
	padding-left: 35px;
}



.txt-table4 {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding-left: 12px;
}
.photo {
	border: 1px solid #CCC;
	text-align: center;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer {
	background-color: #CCC;
	margin-top: 10px;
	height: 10px;
	clear: both;
}
#footer-b {
	background-color: #CCC;
	margin-top: 3px;
	height: 10px;
	clear: both;
	width: 100%;
	float: left;
}
#footer-c {
	background-color: #7AA228;
	margin-top: 3px;
	height: 10px;
	clear: both;
	width: 100%;
	float: left;
}
.end-table {
	background-color: #4D6518;
	height: 5px;
	clear: both;
}



.invo-box {
	float: left;
	width: auto;
	text-align: left;
}
.tab21 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-align: center;
	width: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.invo-box p {
	text-align: left;
}




.tab22 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-align: left;
	width: 70px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.tab23 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-align: left;
	width: 85px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.tab24 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-align: left;
	width: 240px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.tab25 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-align: left;
	width: 70px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.tab26 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-align: left;
	width: 60px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

.tab27 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-align: left;
	width: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.tete {

}



.tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	text-align: left;
}
.wid {
	height: 30px;
}
.tit-name p {
	padding: 0px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 90px;
	margin-right: 5px;
	margin-left: 0px;
}
.tit-name .not-long {
	width: 80px;
}





.title-table h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	margin-left: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}
.tit-name .p-out {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	display: inline;
	padding: 0px;
	width: 100px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}




#logo {
	background-color: #CCC;
	width: 170px;
	height: 104px;
	position: absolute;
	top: 2px;
	margin-left: 35px;
}
.logo-img {
	background-color: #FFF;
	width: 160px;
	height: 100px;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.inv-1 {
	padding-left: 50px;
}

.bor {
	background-color: #CCC;
	border: 1px solid #333;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: none;
}



.tab01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: right;
	width: 50px;
}



.tab01 p {
	text-align: center;
}
.coler-0005 .quat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}



.coler-0015 .quat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}


.tab02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 90px;
}

.tab03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 50px;
}

.tab04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 70px;
}

.tab05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 70px;
}

.tab06{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 80px;
}

.tab07 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 215px;
}
.table-1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	margin: 0px;
	padding: 0px;
}
