<style>
    *{
        font-size: 12px !important;
    }
    #invoicediv tr td { padding: 5px 10px;}
</style>
<div id="dividprint">
<table bgcolor="#f6f6f6" id="invoicediv" width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #ccc; padding:5px 10px 5px 10px; font-family:Arial, Gadget, sans-serif; margin-top:10px; text-align:center; font-size:30px; ">
    <tr>
        <td colspan="5"><img src="http://192.168.1.3/juice/barcode_image/orders/1913.gif"></td>
    </tr>
    <tr><th>No</th><th style="text-align: left">Name</th><th>Qty</th><th>Price</th><th>Size</th></tr><hr>
    <tr>
        <td colspan="5"></td>
    </tr>
                                            <tr>
            <td class="num">1</td>
            <td  style="text-align:left;">Ø±ÙŠÙ†Ø¨Ùˆ|Renbo</td>
                        <td class="num">1</td>
         <!--   <td class="num"> </td> -->
            <td class="num">1.5 </td>
            <td>Large</td>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
                                                                                            <tr>
            <td class="num">2</td>
            <td  style="text-align:left;">Ø´ÙˆÙƒÙˆÙ„Ø§ØªØ©|Chocolate </td>
                        <td class="num">1</td>
         <!--   <td class="num"> </td> -->
            <td class="num">0.8 </td>
            <td>Small</td>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
                                                                                            <tr>
            <td class="num">3</td>
            <td  style="text-align:left;">Ø£ÙˆØ±ÙŠÙˆ|Orieo</td>
                        <td class="num">1</td>
         <!--   <td class="num"> </td> -->
            <td class="num">1.5 </td>
            <td>Large</td>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
                                                                                            <tr>
            <td class="num">4</td>
            <td  style="text-align:left;">Ø¬Ù„Ø§ÙƒØ³ÙŠ|Galaxy</td>
                        <td class="num">1</td>
         <!--   <td class="num"> </td> -->
            <td class="num">1.5 </td>
            <td>Large</td>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
                                                                                                        <!--    <tr>
            <td bgcolor="#d9d9d9"  class="num">#</td>
            <td style="text-align:left;">&nbsp;                            Ø§Ù„Ù…Ø¨Ù„Øº /Total Amount                        </td>
                            <td colspan="2" style="text-align:left;">&nbsp;</td>
                        <td class="num">5.3  </td>
        </tr> -->
                    <!--                                        <tr>            <td bgcolor="#d9d9d9"  class="num">#</td>            <td width="26%" style="text-align:left; padding-left:15px;">&nbsp;                Ø§Ù„Ø®ØµÙ… / Discount                </td>                    <td colspan="2" style="text-align:left; padding-left:15px;">&nbsp;</td>                                     <td class="num">0  </td>        </tr>                                -->                                                                <!--    <tr>
            <td bgcolor="#d9d9d9"  class="num">#</td>
            <td style="text-align:left;">&nbsp;                            Ø§Ù„Ø§Ø¬Ù…Ø§Ù„Ù‰ / Total Price                        </td>
                            <td colspan="2" style="text-align:left;">&nbsp;</td>
                        <td class="num">5.3  </td>
        </tr> -->
    </table>
    </div>