<?php $this->load->view('common/meta');?>
<!--body with bg-->
<div class="body">
<header>
	<?php $this->load->view('common/header');?>
	<?php $this->load->view('common/search');?>
	<nav>
		<?php $this->load->view('common/navigations');?>
	</nav>
</header>

<!--Section-->
<section>
<div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
		<?php $this->load->view('common/left-navigations');?>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->  
      <div id="main-content" class="main_content">
      <div class="title">
       <span><a href="banks.html">Banks</a></span>
       <span class="subtitle">New Bank Transaction</span>
       </div>

	<form action="<?php echo current_url();?>" method="post" enctype="multipart/form-data">
		<div class="form" id="form-refresh">

          <div class="raw form-group">
            <div class="form_title">Company Name</div>
            <div class="form_field">
              <div class="dropmenu">
                <div class="styled-select">
                  <?php company_dropbox('companyid',$user->companyid); ?>
                </div>
              </div>
            </div>
          </div>
		  <div class="raw form-group">
            <div class="form_title">Branch Name</div>
            <div class="form_field">
              <div class="dropmenu">
                <div class="styled-select">
                  <?php company_branch_dropbox('branchid',$user->branchid,$user->companyid); ?>
                </div>
              </div>
            </div>
          </div>
		  <div class="raw form-group">
		<div class="form_title">Full Name</div>
		<div class="form_field">
		<input name="fullname" type="text" id="fullname" class="formtxtfield"/>
		</div>
		  </div>
		 <!--  --> 
		<div class="raw">
		<!-- <div class="form_title">Bank Name</div>
		<div class="form_field">
		  <div class="dropmenu">
			<div class="styled-select">
			  <select name="bankid">
				<option>-- Select Bank --</option>
				<?php if(!empty($all_banks)):?>
					<?php foreach($all_banks as $banks):?>
						<option value="<?php echo $banks->bankid;?>"><?php echo $banks->bankname;?></option>
					<?php endforeach;?>
				<?php endif;?>
			  </select>
			</div>
		  </div>
		</div>
		-->
		<!-- 
		<div class="left_div2">
		<div id='osx2-modal'>
			<div class="invoice_add_customer"><a href='#' class='osx2'><img src="<?php echo base_url();?>images/internal/add_customer.png" width="20" height="20" border="0" /></a>		    </div>
		</div>
		</div>
		-->
		<!-- 
		<div id="osx2-modal-content">
			<div id="osx2-modal-title">Add New Bank </div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="osx2-modal-data">
			<form id="bankform" name="bank-form">

			  	<div class="raw">
					<div class="form_title">Company  Name</div>
					<div class="form_field">
					<div class="dropmenu">
				<div class="styled-select">
				  <select name="companyid">
					<option>-- Select --</option>
				
					<?php if(!empty($all_companies)):?>
						<?php foreach($all_companies as $company):?>
						<?php 
						echo 	$com 	= json_decode($company->company_name,TRUE);
								$en 	= $com['en'];
								$ar 	= $com['ar'];
						?>
							<option value="<?php echo $company->companyid;?>"><?php echo $en . '('.$company->account_number.')';?></option>
						<?php endforeach;?>
					<?php endif;?>
				  </select>
				</div>
				</div>
					</div>
				</div>
				<div class="raw">
					<div class="form_title">Bank  Name</div>
					<div class="form_field">
						<input name="" type="text"  name="bankname"  id="bankname" class="formtxtfield"/>
					</div>
				</div>
				<div class="raw">
					<div class="form_title">Account Number</div>
					<div class="form_field">
						<input name="" type="text"  name="account_number" id="account_number" class="formtxtfield"/>
					</div>
				</div>
				<div class="raw" align="center">
					<input name="add-bank" type="button" class="submit_btn" id="add-bank" value="Submit" />
					<input name="reset" id="reset" type="button" class="reset_btn" value="Reset" />
					<!--  <div style="color: green; float:left; margin-top:15px;font-size:14px" class="msg"></div>
				</div>

				</form>
			</div>
		</div>
		-->
		  </div>
		  <div class="raw form-group">
			<div class="form_title">Transaction Type</div>
			<div class="form_field">
			  <div class="dropmenu">
				<div class="styled-select">
				  <select name="transaction_type" id="transaction_type">
					<option value="D">Debit</option>
					<option value="C">Credit</option>
				  </select>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="raw form-group">
			<div class="form_title">Payment Type</div>
			<div class="form_field">
			  <div class="dropmenu">
				<div class="styled-select">
				  <select name="payment_type" id="payment_type">
					<option value="DEPOSIT">DEPOSIT</option>
					<option value="CHEQUE">CHEQUE</option>
					<option value="CASH">CASH</option>
					<option value="RICEPT">RICEPT</option>
				  </select>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="raw form-group">
			<div class="form_title" id="change-text">Cheque Number</div>
			<div class="form_field">
			<input name="cheque_number" id="cheque_number" type="text"  class="formtxtfield"/>
			</div>
		  </div>

		<div class="raw form-group">
		<div class="form_title">Value </div>
		<div class="form_field">
			<input name="cheque_amount" id="cheque_amount" type="text"  class="formtxtfield_small"/>
			<span>RO.</span>
		</div>
		</div>
		<div class="raw">
		<div class="form_title">Notes </div>
		<div class="form_field">
			<textarea name="notes" id="notes" cols="" rows="" class="formareafield"></textarea>
		</div>
		</div>
		<!-- 
		<div class="raw">
		<div class="form_title">Attachments </div>
		<div class="form_field">
		 <div id="FileUpload">
		 
			<input type="file" name="transaction_attachment" size="24" id="BrowserHidden" onchange="getElementById('FileField').value = getElementById('BrowserHidden').value;" />
		 
			<div id="BrowserVisible"><input type="text" id="FileField" /></div>
		</div>
		</div>
		</div>
		-->
		<div class="raw" align="center">
			<input name="submit_transaction" type="submit" class="submit_btn" value="Add" />
			<!-- <input name="id" type="hidden"  value="" /> -->
			<input name="" type="reset" class="reset_btn" value="Reset" />
		</div>
		<!--end of raw-->
		</div>
	</form>
<!-- END PAGE -->  
</div>
      <!-- END PAGE -->  
   </div>
</section>
<!-- End Section-->
<!--footer-->
<?php $this->load->view('common/footer');?>
