@font-face {
    font-family: 'helvatica';
    src:url('helvatica.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helvatica';
    src:url('helvatica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'helvatica';
    src:url('helvatice.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}