@font-face {
    font-family: 'helvatica';
    src: url('../helvatica/helvativa-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helvatica';
    src: url('../helvatica/helvativa-medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'helvatica';
    src: url('../helvatica/helvativa-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	border: 0;
	box-sizing: border-box!important;
	font: inherit;
	font-family: Roboto;
	margin: 0;
	moz-box-sizing: border-box!important;
	padding: 0;
	text-decoration: none;
	webkit-box-sizing: border-box!important;
	webkit-text-size-adjust: none;
	zoom: 1;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display: block;
}
/*#load,body
{
	background-color: #f6f6f6;
	background-image: url(../img/bg.jpg);
	height: 100%;
	line-height: 1;
	width: 100%;
}*/
#load, body {
    line-height: 1;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
/*    background-image: url(../img/gray-bg.jpg), url(../img/bg.jpg);
    background-position:right top, center center;
    background-repeat: repeat-y, repeat;*/
    background-image: url(../img/gray-bg-en.jpg), url(../img/bg.jpg);
    background-position:left top, center center;
    background-repeat: repeat-y, repeat;
    font-weight: bold;
    font-family: 'helvatica', Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
.dark #load,body.dark
{
	background-color: #acacac;
	background-image: url(../img/bg-dark.jpg);
}
body,html
{
	height: 100%;
	min-height: 100%;
	overflow: visible;
}
ol,ul
{
	list-style: none;
}
blockquote,q
{
	quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before
{
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
a,input,select,textarea,th
{
	outline: 0;
}
input:-moz-placeholder,textarea:-moz-placeholder
{
	color: #5e5e5e;
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder
{
	color: #5e5e5e;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder
{
	color: #5e5e5e;
}
.dark input:-moz-placeholder,.dark textarea:-moz-placeholder
{
	color: #444;
}
.dark input:-ms-input-placeholder,.dark textarea:-ms-input-placeholder
{
	color: #444;
}
.dark input::-webkit-input-placeholder,.dark textarea::-webkit-input-placeholder
{
	color: #444;
}
b,strong
{
	font-weight: 700!important;
}
div,input:disabled,span
{
	moz-user-select: none;
	ms-user-select: none;
	webkit-touch-callout: none;
	webkit-user-select: none;
}
p
{
	font-size: 12px;
	line-height: 16px;
	moz-user-select: text;
	ms-user-select: text;
	webkit-touch-callout: text;
	webkit-user-select: text;
}
p .button,p button
{
	font-size: 11px;
	height: 20px;
	margin-left: 6px;
}
h1
{
	font-size: 20px;
}
h2
{
	font-size: 18px;
}
h3
{
	font-size: 16px;
}
h4
{
	font-size: 14px;
}
h5
{
	font-size: 12px;
}
h6
{
	font-size: 10px;
}
h1,h2,h3,h4,h5,h6
{
	font-weight: 700;
}
hr
{
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-top: 1px solid rgba(0,0,0,.4);
	height: 0;
	margin: 15px 0;
}
.clear
{
	clear: both;
}
::selection
{
	background: rgba(93,167,245,.2);
}
::-moz-selection
{
	background: rgba(93,167,245,.2);
}
button::-moz-focus-inner,input::-moz-focus-inner
{
	border: 0;
}
.box,.modal,.modal-ov,.notif,.spinning
{
	backface-visibility: hidden;
	moz-backface-visibility: hidden;
	moz-transform: translate-z(0);
	ms-backface-visibility: hidden;
	ms-transform: translate-z(0);
	transform: translate-z(0);
	webkit-backface-visibility: hidden;
	webkit-transform: translate-z(0);
}
.safari-fix #nav .sub-nav,.safari-fix #register,.safari-fix #user-select,.safari-fix .expand-content>div
{
	display: none!important;
}
.safari-fix #nav li:hover .sub-nav,.safari-fix .expand-content .show,.safari-fix .showreg #register,.safari-fix .showusr #user-select
{
	display: block!important;
}
#load
{
	bottom: 0;
	height: auto;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
}
#spinner
{
	background-image: url(../img/load.png);
	background-position: 0 0;
	background-size: 40px 40px;
	height: 40px;
	left: 50%;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 50%;
	width: 40px;
}
.dark #spinner
{
	border-radius: 20px;
	box-shadow: 0 0 1px 1px rgba(255,255,255,.2);
}
@media only screen and (-webkit-device-pixel-ratio:2)
{
	#spinner
	{
		background-image: url(../img/load-big.png);
		background-size: 40px 40px;
	}
}
#spinner,.spinning
{
	animation-duration: .8s;
	animation-iteration-count: infinite;
	animation-name: rotate;
	animation-timing-function: linear;
	display: inline-block;
	webkit-animation-duration: .8s;
	webkit-animation-iteration-count: infinite;
	webkit-animation-name: rotate;
	webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotate
{
	from
	{
		webkit-transform: rotate(0deg);
	}
	to
	{
		webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotate
{
	from
	{
		moz-transform: rotate(0deg);
	}
	to
	{
		moz-transform: rotate(360deg);
	}
}
@-o-keyframes rotate
{
	from
	{
		o-transform: rotate(0deg);
	}
	to
	{
		o-transform: rotate(360deg);
	}
}
@keyframes rotate
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(360deg);
	}
}
@font-face
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url(../res/fonts/roboto.eot);
	src: url(../res/fonts/robotod41d.eot?#iefix) format('embedded-opentype'),url(../res/fonts/roboto.woff) format('woff'),url(../res/fonts/roboto.ttf) format('truetype'),url(../res/fonts/roboto.svg#robotomedium) format('svg');
}
@font-face
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	src: url(../res/fonts/roboto-b.eot);
	src: url(../res/fonts/roboto-bd41d.eot?#iefix) format('embedded-opentype'),url(../res/fonts/roboto-b.woff) format('woff'),url(../res/fonts/roboto-b.ttf) format('truetype'),url(../res/fonts/roboto-b.svg#robotobold) format('svg');
}
@font-face
{
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	moz-font-feature-settings: "calt=0,liga=0";
	src: url(../res/fonts/webhostinghub-glyphs.eot);
	src: url(../res/fonts/webhostinghub-glyphsd41d.eot?#iefix) format('embedded-opentype'),url(../res/fonts/webhostinghub-glyphs.ttf) format('truetype');
}
@font-face
{
	font-family: Arrows;
	font-style: normal;
	font-weight: 400;
	src: url(../res/fonts/arrowsd41d.eot?#iefix) format('embedded-opentype'),url(../res/fonts/arrows.woff) format('woff'),url(../res/fonts/arrows.ttf) format('truetype'),url(../res/fonts/arrows.svg) format('svg');
}
.arrow
{
	font-family: Arrows!important;
	font-size: 20px;
	line-height: inherit;
        position: relative;
        top: -27px;
        left: 0px;
        float: right;
        z-index: -99;
}
.g1
{
	width: 4.25%;
}
.g2
{
	width: 10.5%;
}
.g3
{
	width: 16.75%;
}
.g4
{
	width: 23%;
}
.g5
{
	width: 29.25%;
}
.g6
{
	width: 35.5%;
}
.g7
{
	width: 41.75%;
}
.g8
{
	width: 48%;
}
.g9
{
	width: 54.25%;
}
.g10
{
	width: 60.5%;
}
.g11
{
	width: 66.75%;
}
.g12
{
	width: 73%;
}
.g13
{
	width: 79.25%;
}
.g14
{
	width: 85.5%;
}
.g15
{
	width: 91.75%;
}
.g16
{
	width: 98%;
}
.g1,.g10,.g11,.g12,.g13,.g14,.g15,.g16,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9
{
	float: left;
	margin-left: 2%;
	margin-top: 15px;
}
.full
{
	float: left;
	margin-left: 0;
	width: 100%;
}
.gcont
{
	padding-right: 2%!important;
}
.cont
{
	float: left;
	position: relative;
}
#content>.cont
{
	margin-top: 25px;
}
.cont>.g1,.cont>.g10,.cont>.g11,.cont>.g12,.cont>.g13,.cont>.g14,.cont>.g15,.cont>.g16,.cont>.g2,.cont>.g3,.cont>.g4,.cont>.g5,.cont>.g6,.cont>.g7,.cont>.g8,.cont>.g9
{
	margin-top: 0;
}
.box,.flt-no
{
	margin-left: 2%!important;
}
.last
{
	margin-left: 0!important;
}
.ig1
{
	width: 6.25%;
}
.ig2
{
	width: 12.5%;
}
.ig3
{
	width: 18.75%;
}
.ig4
{
	width: 25%;
}
.ig5
{
	width: 31.25%;
}
.ig6
{
	width: 37.5%;
}
.ig7
{
	width: 43.75%;
}
.ig8
{
	width: 50%;
}
.ig9
{
	width: 56.25%;
}
.ig10
{
	width: 62.5%;
}
.ig11
{
	width: 68.75%;
}
.ig12
{
	width: 75%;
}
.ig13
{
	width: 81.25%;
}
.ig14
{
	width: 87.5%;
}
.ig15
{
	width: 93.75%;
}
.ig16
{
	width: 100%;
}
.ig1,.ig10,.ig11,.ig12,.ig13,.ig14,.ig15,.ig16,.ig2,.ig3,.ig4,.ig5,.ig6,.ig7,.ig8,.ig9
{
	float: left;
}
.hidden
{
	opacity: 0;
	visibility: hidden;
}
.visible
{
	opacity: 1;
	visibility: visible;
}
.no-disp
{
	display: none;
}
.disp
{
	display: block;
}
.hidden-desktop,.visible-phone,.visible-tablet
{
	display: none!important;
}
.visible-desktop
{
	display: inherit!important;
}
@media (min-width:768px) and (max-width:979px)
{
	.hidden-desktop
	{
		display: inherit!important;
	}
	.visible-desktop
	{
		display: none!important;
	}
	.visible-tablet
	{
		display: inherit!important;
	}
	.hidden-tablet
	{
		display: none!important;
	}
}
@media (max-width:767px)
{
	.hidden-desktop
	{
		display: inherit!important;
	}
	.visible-desktop
	{
		display: none!important;
	}
	.visible-phone
	{
		display: inherit!important;
	}
	.hidden-phone
	{
		display: none!important;
	}
}
@media only screen and (min-width:681px) and (max-width:1100px)
{
	.g1
	{
		width: 3.25%;
	}
	.g2
	{
		width: 9.5%;
	}
	.g3
	{
		width: 15.75%;
	}
	.g4
	{
		width: 22%;
	}
	.g5
	{
		width: 28.25%;
	}
	.g6
	{
		width: 34.5%;
	}
	.g7
	{
		width: 40.75%;
	}
	.g8
	{
		width: 47%;
	}
	.g9
	{
		width: 53.25%;
	}
	.g10
	{
		width: 59.5%;
	}
	.g11
	{
		width: 65.75%;
	}
	.g12
	{
		width: 72%;
	}
	.g13
	{
		width: 78.25%;
	}
	.g14
	{
		width: 84.5%;
	}
	.g15
	{
		width: 90.75%;
	}
	.g16
	{
		width: 97%;
	}
	.g1,.g10,.g11,.g12,.g13,.g14,.g15,.g16,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9
	{
		margin-left: 3%;
	}
	.top-bar
	{
		width: 97%!important;
	}
	#content,.gcont
	{
		padding-right: 3%!important;
	}
	.box,.flt-no
	{
		margin-left: 3%!important;
	}
}