.file-sel,.inp-grp,.select,input,textarea,select
{
	background-color: #f5f5f5;
	border: 1px solid #979797;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px #fff;
	font-size: 12px;
	height: 30px;
	line-height: 16px;
	margin: 10px 0 0;
	moz-transition: border .3s linear,box-shadow .25s ease;
	o-transition: border .3s linear,box-shadow .25s ease;
	padding: 6px 10px;
	text-shadow: 0 1px 0 #fff;
	transition: border .3s linear,box-shadow .25s ease;
	webkit-appearance: none;
	webkit-transition: border .3s linear,box-shadow .25s ease;
        width: 100%;
}
input[type=checkbox]{
    width: 15px;
    height: 15px !important;
    float: left !important;
}    
label {
    width: 100%;
    float: left;
    margin-left: 0px;
    text-align: left;
}
input:focus,textarea:focus
{
	box-shadow: inset 0 1px 3px 1px #fff,0 0 6px rgba(0,0,0,.1);
	outline: 0;
}
.checkbox.disabled,.radio.disabled,.select.disabled,input.disabled,input:disabled
{
	box-shadow: none;
	cursor: default!important;
	opacity: .8;
}
.select.inset,input.inset,textarea.inset
{
	background-color: #e0e0e0;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
input.inset:focus,textarea.inset:focus
{
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1),0 0 2px rgba(255,255,255,.2);
}
.select.error,input.error
{
	border-left-color: #C46666;
	border-top-color: #C46666;
	padding-right: 30px;
}
input[type=password]
{
	font: small-caption;
	font-size: 12px;
}
.dark .file-sel,.dark .inp-grp,.dark .select,.dark input,.dark textarea
{
	background-color: #dfdfdf;
	border-color: #333;
}
.dark input:focus,.dark textarea:focus
{
	box-shadow: inset 0 0 3px 1px #fff,0 1px 4px rgba(0,0,0,.5);
}
.dark .select.inset,.dark input.inset,.dark textarea.inset
{
	background-color: #bbb;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	text-shadow: 0 1px 0 #ddd;
}
.dark input.inset:focus,.dark textarea.inset:focus
{
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1),0 1px 4px rgba(0,0,0,.5);
}
.dark .select.error,.dark input.error
{
	border-left-color: #a31d1d;
	border-top-color: #a31d1d;
}
.button,button
{
	background-color: #777;
	background-image: -moz-linear-gradient(top,rgba(255,255,255,.02),rgba(0,0,0,.05));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.02),rgba(0,0,0,.05));
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(255,255,255,.3),0 1px 1px #eee;
	color: #eee;
	cursor: pointer;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 700;
	height: 28px;
	line-height: 8px;
	margin: 0;
	moz-transition: all .1s linear,opacity .3s linear;
	opacity: 1;
	o-transition: all .1s linear,opacity .3s linear;
	outline: 0;
	padding: 0 10px;
	text-align: center;
	text-shadow: 0 1px 1px #222;
	transition: all .1s linear,opacity .3s linear;
	webkit-transition: all .1s linear,opacity .3s linear;
}
.button:hover,button:hover
{
	box-shadow: inset 0 0 8px rgba(255,255,255,.3),0 1px 1px #eee;
}
.button:active,button:active
{
	box-shadow: inset 0 0 4px rgba(0,0,0,.15),0 1px 1px #eee!important;
}
.button.disabled,.button:disabled,button.disabled,button:disabled
{
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2)!important;
	cursor: default;
	opacity: .8;
}
.button.pressed,button.pressed
{
	background-image: -moz-linear-gradient(top,rgba(0,0,0,.1),transparent)!important;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.1),transparent)!important;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff!important;
}
.submit
{
	background-color: #43b1dd;
	background-image: -moz-linear-gradient(top,#43b1dd,#2399c8)!important;
	background-image: -webkit-linear-gradient(top,#43b1dd,#2399c8)!important;
	border: 1px solid #365b69;
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,.3),0 1px 1px #eee;
	color: #104d67;
	font-size: 13px;
	text-shadow: 0 1px 1px #62c0e6;
}
.button.submit:hover,button.submit:hover
{
	box-shadow: inset 0 0 9px rgba(255,255,255,.5),0 1px 1px #eee;
}
.button.outset,button.outset
{
	border: 0;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.16),0 1px 1px rgba(0,0,0,.4);
}
.button.mini,button.mini
{
	background-color: transparent;
	background-image: -moz-linear-gradient(top,rgba(255,255,255,.01),rgba(0,0,0,.02));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.01),rgba(0,0,0,.02));
	border-color: rgba(0,0,0,.3);
	color: #555;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
.button.gray,button.gray
{
	background-image: -moz-linear-gradient(top,rgba(255,255,255,.01),rgba(0,0,0,.05));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,.01),rgba(0,0,0,.05));
}
.button.gray:hover,button.gray:hover
{
	box-shadow: inset 0 0 8px rgba(255,255,255,.7),0 1px 1px #eee;
}
.gray.pressed
{
	border-color: #888;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.2)!important;
}
.button.black,button.black
{
	background-color: #5f5f5f;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.25),0 1px 1px #eee;
}
.button.black:hover,button.black:hover
{
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,.3),inset 0 0 16px rgba(255,255,255,.2),0 1px 1px #eee;
}
.button.green,button.green
{
	border: 1px solid #303b00;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
}
.btn-s button,button.btn-s
{
	height: 24px;
	padding-left: 8px;
	padding-right: 8px;
}
.btn-m button,button.btn-m
{
	height: 30px;
}
.btn-l button,button.btn-l
{
	height: 34px;
	padding-left: 16px;
	padding-right: 16px;
}
.button.wide,button.wide
{
	padding: 0 15px;
}
.button .icon,button .icon
{
	float: left;
	font-size: 15px;
	font-weight: 400;
	margin-right: 8px;
	moz-transition: color .2s ease;
	o-transition: color .2s ease;
	transition: color .2s ease;
	webkit-transition: color .2s ease;
}
.button .icon.right,button .icon.right
{
	float: right;
	margin-left: 8px;
	margin-right: 0;
}
.button .icon-s,button .icon-s
{
	font-size: 12px;
}
.btn-s .icon
{
	font-size: 14px;
}
.remove .icon
{
	color: #db6f5c;
	text-shadow: 0 1px 1px #70190a;
}
.dark .button,.dark button
{
	border-color: rgba(0,0,0,.6);
	box-shadow: inset 0 1px 2px rgba(255,255,255,.25),0 1px 1px rgba(0,0,0,.2);
}
.dark .button:hover,.dark button:hover
{
	box-shadow: inset 0 0 8px rgba(255,255,255,.3),0 1px 2px 1px rgba(0,0,0,.1);
}
.dark .button:active,.dark button:active
{
	box-shadow: inset 0 0 4px rgba(0,0,0,.15),0 1px 1px #777!important;
}
.dark .button.pressed,.dark button.pressed
{
	box-shadow: inset 0 1px 3px rgba(0,0,0,.15),0 1px 0 rgba(255,255,255,.1)!important;
}
.dark .button.mini,.dark button.mini
{
	box-shadow: inset 0 1px 1px rgba(255,255,255,.1),0 1px 1px rgba(0,0,0,.2);
	color: #ddd;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.dark .button.mini:hover,.dark button.mini:hover
{
	box-shadow: inset 0 0 8px rgba(255,255,255,.2),0 1px 2px 1px rgba(0,0,0,.1);
}
.dark .button.submit:hover,.dark button.submit:hover
{
	box-shadow: inset 0 0 9px rgba(255,255,255,.5),0 1px 1px #888;
}
.dark .button.gray:hover,.dark button.gray:hover
{
	box-shadow: inset 0 0 6px 1px #eee,0 1px 2px 1px rgba(0,0,0,.1);
}
.dark .gray
{
	background-color: #ddd;
	border-color: #333;
}
.dark .gray.pressed
{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1)!important;
}
.checkbox-cont,.radio-cont
{
	background-color: #444;
	border: 1px solid #222;
	border-radius: 4px;
	box-shadow: inset 1px 1px 3px #333,1px 1px 1px rgba(255,255,255,.2);
	cursor: pointer;
	float: right;
	height: 22px;
	overflow: hidden;
	position: relative;
	width: 22px;
}
.checkbox-cont.big
{
	border-radius: 3px;
	height: 26px;
	padding: 1px;
	width: 36px;
}
.checkbox.big .on
{
	border-radius: 1px;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.checkbox-cont.big .icon-ok
{
	font-size: 13px;
	line-height: 22px;
	margin-left: -6px;
}
.checkbox-cont .on,.radio-cont .on
{
	background-color: #43b1dd;
	border-radius: 2px;
	bottom: 4px;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.2),1px 1px 2px 1px #191919;
	color: #333;
	display: block;
	left: 4px;
	overflow: hidden;
	position: absolute;
	right: 4px;
	text-shadow: 0 1px 1px rgba(255,255,255,.3);
	top: 4px;
}
.unchecked .on
{
	display: none;
}
.checkbox-cont .icon-ok,.radio-cont .icon-ok
{
	font-size: 11px;
	left: 50%;
	line-height: 11px;
	margin-left: -4px;
	position: absolute;
}
.checkbox-cont.valid .on
{
	box-shadow: inset 0 0 8px 1px rgba(101,128,0,.6);
}
.checkbox-cont.error
{
	box-shadow: inset 0 0 8px 1px rgba(166,86,86,.5);
}
.radio-cont
{
	border-radius: 13px;
	height: 26px;
	width: 26px;
}
.radio-cont .on
{
	border-radius: 10px;
}
.radio-cont .icon-ok
{
	display: none;
}
.drop
{
	cursor: pointer;
	float: left;
	margin: 15px 0 0 2%;
	overflow: visible!important;
	position: relative;
}
.drop button
{
	border-radius: 3px 0 0 3px;
	display: inline-block;
	float: left;
	margin: 0!important;
}
.drop button.arrow
{
	border-left-width: 0;
	border-radius: 0 3px 3px 0;
	float: right;
	padding: 0 4px;
}
.drop .arrow
{
	font-size: 20px;
	font-weight: 400;
	line-height: 12px;
}
.drop ul
{
	background-color: #f0f0f0;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
	display: none;
	float: left;
	left: -1px;
	margin-top: 5px;
	position: absolute;
	right: auto;
	top: 100%;
	z-index: 99;
}
.drop li
{
	border-bottom: 1px solid rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 #fff;
	cursor: pointer;
	font-size: 12px!important;
	font-weight: 400;
	moz-transition: all .2s ease;
	o-transition: all .2s ease;
	overflow: hidden;
	padding: 10px;
	text-overflow: ellipsis;
	transition: all .2s ease;
	webkit-transition: all .2s ease;
	white-space: nowrap;
}
.drop li.sel
{
	background-image: -moz-linear-gradient(top,rgba(0,0,0,.06),rgba(0,0,0,.03));
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.06),rgba(0,0,0,.03));
	color: #777;
	font-weight: 700;
}
.drop li:hover
{
	background-color: rgba(255,255,255,.4);
}
.drop li.no-sel,.drop li.sel
{
	background-color: transparent!important;
	padding-left: 10px!important;
}
.drop li.disabled
{
	opacity: .8;
	padding-left: 10px!important;
}
.drop li:first-of-type
{
	border-radius: 2px 2px 0 0;
	box-shadow: none;
}
.drop li:last-of-type
{
	border-bottom: 0;
	border-radius: 0 0 2px 2px;
}
.drop.active ul
{
	display: block;
}
.drop.arrow-l button
{
	border-radius: 0 3px 3px 0;
	float: right;
}
.drop.arrow-l button.arrow
{
	border-left-width: 1px;
	border-radius: 3px 0 0 3px!important;
	border-right-width: 0;
	float: left;
}
.drop.single button
{
	border-radius: 3px;
	width: 100%;
}
.drop.single .arrow-l
{
	padding-left: 38px;
}
.drop.single .arrow-l .arrow
{
	left: 10px;
	right: auto;
}
.drop.single button:not(.arrow-l)
{
	padding-right: 38px;
}
.drop.single .arrow
{
	margin-top: -6px;
	position: absolute;
	right: 10px;
	top: 50%;
}
.drop-l ul,.drop-r ul,.drop-u ul
{
	margin-top: 0;
}
.drop-u ul
{
	bottom: 100%;
	margin-bottom: 5px;
	top: auto;
}
.drop-l ul
{
	left: auto;
	margin-right: 5px;
	right: 100%;
	top: -1px;
}
.drop-r ul
{
	left: 100%;
	margin-left: 5px;
	right: auto;
	top: -1px;
}
.drop-l.drop-u ul,.drop-r.drop-u ul
{
	bottom: -1px;
	margin-bottom: 0;
	top: auto;
}
.drop.al-r ul
{
	left: auto;
	right: -1px;
}
.dark .drop ul
{
	background-color: #777;
	border-color: #444;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.dark .drop li
{
	box-shadow: inset 0 1px 0 #888;
	color: #eee;
	text-shadow: 0 1px 1px #444;
}
.dark .drop li:hover
{
	background-color: rgba(255,255,255,.1);
}
.dark .drop li.sel
{
	background-color: rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #777;
	color: #ddd;
}
select
{
	background: 0 0;
	min-width: 40px;
	webkit-appearance: none;
        background-color: #f5f5f5 !important;
}
.select
{
	color: #444;
	float: left;
	height: auto;
	min-height: 30px;
	min-width: 40px;
	padding: 0;
	position: relative;
}
.select .arrow
{
	font-size: 16px;
	margin-top: -6px;
	position: absolute;
	right: 6px;
	top: 50%;
}
.select>.delete
{
	border-radius: 3px;
	top: 3px!important;
}
.select .buttons,.select>.delete
{
	right: 28px!important;
}
.select .input-error
{
	margin-left: 0;
	right: 5px!important;
	top: -1px!important;
}
.select ul
{
	border-radius: 0 0 4px 4px;
	margin: 0;
}
.select li:hover
{
	padding-left: 14px;
}
.select li:first-of-type
{
	border-radius: 0;
}
.select .sel-tag
{
	background-color: rgba(0,0,0,.04);
	height: 22px;
	line-height: 19px;
	margin: 3px!important;
}
.select .sel-tag .delete
{
	font-size: 9px;
	margin: 0 2px;
	padding: 6px!important;
	vertical-align: -1px;
}
.select.active
{
	border-radius: 4px 4px 0 0;
}
.select.has-delete
{
	padding-right: 40px;
}
.select.drop-u ul
{
	border-radius: 4px 4px 0 0;
	box-shadow: inset 0 0 1px rgba(255,255,255,.2),0 -1px 6px rgba(0,0,0,.2);
}
.select.drop-u.active
{
	border-radius: 0 0 4px 4px;
}
.opt-sel
{
	float: left;
	font-size: 12px!important;
	line-height: 28px;
	overflow: hidden;
	padding: 0 28px 0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.sel-search
{
	border-bottom: 1px solid rgba(0,0,0,.4);
	height: auto;
	padding: 10px!important;
}
.sel-search input
{
	height: 30px;
	padding: 8px 10px;
	width: 100%;
}
.drop li.sel-group,.sel-group
{
	background: rgba(0,0,0,.05);
	box-shadow: none!important;
	font-size: 11px!important;
	font-weight: 700!important;
	text-indent: 5px;
}
.select.has-tags
{
	padding-right: 60px;
}
.select.has-tags .opt-sel
{
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.select:not(.drop-l) ul,.select:not(.drop-r) ul
{
	right: -1px;
}
.dark .drop li.sel-group,.dark .sel-group
{
	background: rgba(255,255,255,.1);
	color: #fff;
}
.spinner-body
{
	float: left;
	position: relative;
	width: 100%;
}
.spinner-body input
{
	margin-top: 0;
	padding-right: 44px;
	width: 100%;
}
.spinner-body .down,.spinner-body .up
{
	height: 15px;
	line-height: 13px;
	padding: 0;
	position: absolute;
	right: 0;
	width: 32px;
}
.spinner-body .up
{
	border-radius: 0 2px 0 0;
	bottom: 50%;
	top: 0;
}
.spinner-body .down
{
	border-radius: 0 0 2px;
	border-top-width: 0;
	bottom: 0;
	top: 50%;
}
.spinner-body .input-error
{
	margin-left: 0;
	right: 36px!important;
	top: 0;
}
.spinner-body.big input
{
	padding-right: 78px;
}
.spinner-body.big .down,.spinner-body.big .up
{
	bottom: 0;
	font-size: 13px;
	height: auto;
	line-height: 28px;
	top: 0;
	width: 34px;
}
.spinner-body.big .up
{
	border-radius: 0!important;
	border-right-width: 0;
	right: 34px;
}
.spinner-body.big .down
{
	border-radius: 0 3px 3px 0;
	border-top-width: 1px;
}
.spinner-body.big .input-error
{
	right: 72px!important;
}
.spinner-body .ui-button-text,.spinner-body button .icon
{
	color: #ddd;
	float: left;
	width: 100%;
}
.spinner-body button .icon
{
	font-size: 9px;
	margin-right: 0;
	text-align: center;
}
.file-sel
{
	padding: 0!important;
	position: relative;
}
.file
{
	bottom: 0;
	left: 0;
	opacity: 0;
	outline: 0;
	position: absolute;
	right: 0;
	top: 0;
	webkit-appearance: none!important;
}
.file-text
{
	background: none!important;
	border: 0!important;
	box-shadow: none!important;
}
.input-error
{
	color: #A65656;
	cursor: help;
	font-size: 12px;
	height: 20px!important;
	line-height: 20px;
	margin-top: 5px;
	min-width: 20px;
	moz-transition: width .5s ease,background-color .2s ease;
	o-transition: width .5s ease,background-color .2s ease;
	overflow: hidden;
	padding: 0 4px 0 5px;
	position: absolute;
	text-shadow: 0 1px 1px #fff;
	transition: width .5s ease,background-color .2s ease;
	webkit-transition: width .5s ease,background-color .2s ease;
}
.input-error:not(:hover)
{
	width: 20px!important;
}
.input-error:before
{
	float: right;
}
.input-error p
{
	display: block;
	font-size: 11px;
	font-weight: 700;
	line-height: 20px;
	padding-right: 20px;
	text-indent: 20px;
	white-space: nowrap;
}
.delete:hover,.input-error:hover
{
	cursor: default;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
}
.delete:hover .icon,.icon.delete:hover
{
	color: #db6f5c;
}
.input-error:hover
{
	background-color: #DB6767;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.25),0 0 0 1px #9E3333;
	color: #4D0000;
	moz-transition: width .5s ease .4s,background-color .2s ease;
	opacity: .9;
	o-transition: width .5s ease .4s,background-color .2s ease;
	transition: width .5s ease .4s,background-color .2s ease;
	webkit-transition: width .5s ease .4s,background-color .2s ease;
	z-index: 999;
}
.input-error:hover p
{
	text-indent: 0;
}
.push-error .input-error
{
	margin-right: 34px;
}
.inp
{
	float: left;
	margin: 0;
	position: relative;
}
.inp-icon
{
	color: #777;
	font-size: 16px;
	margin-top: -8px;
	position: absolute;
	right: 6px;
	text-shadow: none;
	top: 50%;
}
.inp-cont
{
	padding-left: 85px;
	position: relative;
}
.inp-cont .inp,.inp-cont .select,.inp-cont input,.inp-cont textarea
{
	margin: 0;
	width: 100%;
}
.inp-cont label
{
	left: 0;
	line-height: 30px;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	width: 85px;
}
.big-label .inp-cont,.inp-cont.big
{
	padding-left: 180px;
}
.big-label .inp-cont label,.inp-cont.big label
{
	width: 180px;
}
.inp .buttons,.inp-cont .buttons,.inp-cont>button,.inp>button,.select button
{
	margin: 4px;
	position: absolute;
	right: 0;
	top: 0;
}
.inp-cont button
{
	height: 22px;
}
.inp-cont .delete
{
	padding: 0 6px;
}
.inp-cont .delete .icon
{
	font-size: 10px;
	margin: 0;
}
.label-pad label
{
	padding-left: 10px;
}
.label-pad-m label
{
	padding-left: 15px;
}
.label-pad-l label
{
	padding-left: 20px;
}
.inp-grp
{
	margin-top: 0;
	overflow: hidden;
	padding: 0;
}
.inp-grp>:last-child
{
	border-right: 0;
}
.inp-grp,.inp-grp input
{
	float: left;
}
.inp-grp>input
{
	background: 0 0;
}
.inp-grp>button,.inp-grp>div,.inp-grp>input
{
	border: 0;
	border-radius: 0;
	border-right: 1px solid rgba(0,0,0,.5);
	margin: 0;
}
.inp-grp .g1
{
	width: 16.66%;
}
.inp-grp .g2
{
	width: 33.33%;
}
.inp-grp .g3
{
	width: 50%;
}
.inp-grp .g4
{
	width: 66.66%;
}
.inp-grp .g5
{
	width: 83.3%;
}
.buttons
{
	float: left;
}
.buttons .button,.buttons button
{
	border-radius: 0;
	border-right-width: 0;
	float: left;
	margin: 0!important;
}
.buttons .button:first-child,.buttons button:first-child
{
	border-radius: 3px 0 0 3px;
}
.buttons .button:last-child,.buttons button:last-child
{
	border-radius: 0 3px 3px 0;
	border-right-width: 1px;
}
.wide button
{
	padding: 0 15px;
}
.wide button .icon
{
	margin-right: 15px;
}