.top-bar
{
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.02),transparent);
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.02),transparent);
    border-radius: 0 0 4px 4px!important;
    border-top: 0!important;
    height: 60px;
    margin-top: 0!important;
    max-height: 500px;
    overflow: visible!important;
    width: 98%;
    z-index: 99;
}
.top-bar .item
{
    border-right: 1px solid rgba(0,0,0,.4);
    box-shadow: inset 1px 0 1px rgba(255,255,255,.2);
    float: left;
    height: 59px;
    moz-transition: all .3s ease;
    opacity: 1;
    o-transition: all .3s ease;
    padding: 10px;
    position: relative;
    transition: all .3s ease;
    visibility: visible;
    webkit-transition: all .3s ease;
}
.top-bar .item:first-child
{
    box-shadow: none!important;
}
.top-bar .item:last-of-type
{
    border-radius: 0 0 3px;
    border-right: 0;
}
.top-bar.hide
{
    box-shadow: none;
    margin-top: -70px!important;
    max-height: 60px!important;
}
.top-bar.hide.init
{
    height: auto!important;
    margin-top: -500px!important;
    max-height: 500px!important;
}
.top-bar.hide .item
{
    opacity: 0;
    visibility: hidden;
}
#tb-handle
{
    cursor: pointer;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -20px;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 40px;
}
#tb-handle:after
{
    color: #555;
    content: '\f48a';
    font-family: Icons;
    font-size: 19px;
    line-height: 30px;
    text-shadow: 1px 1px 1px #fff;
}
.hide #tb-handle
{
    margin-top: 10px;
}
.hide #tb-handle:after
{
    content: '\f48b';
}
#tb-handle,.top-bar
{
    moz-transition: max-height .3s ease,margin .25s linear;
    o-transition: max-height .3s ease,margin .25s linear;
    transition: max-height .3s ease,margin .25s linear;
    webkit-transition: max-height .3s ease,margin .25s linear;
}
.expand-content
{
    border-left: 1px solid #9e9e9e;
    border-radius: 0 0 3px 4px;
    box-shadow: inset 0 -1px 2px #fff,0 2px 3px rgba(0,0,0,.1);
    float: left;
    overflow: hidden;
    position: relative;
    width: 100.1%;
}
.expand-content>div
{
    bottom: -100%;
    height: auto;
    moz-transition: all .25s ease-in;
    opacity: 0;
    o-transition: all .25s ease-in;
    position: absolute;
    top: 0;
    transition: all .25s ease-in;
    visibility: hidden;
    webkit-transition: all .25s ease-in;
    width: 100%;
}
.expand-content .show
{
    bottom: 0;
    opacity: 1;
    position: relative;
    visibility: visible;
}
.top-bar .notifs
{
    overflow: hidden;
    padding: 8px 10px 8px 8px!important;
}
.top-bar .notif
{
    background-color: #e4e4e4;
    background-image: none!important;
    border-color: #777;
    box-shadow: inset 0 0 1px 1px #fff;
    color: #404040;
    display: inline-block;
    height: 43px;
    line-height: 14px;
    margin: 0 0 10px;
    overflow: visible;
    padding: 4px 10px 6px 54px;
    width: 100%;
}
.top-bar .notif .icon
{
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.2);
    font-size: 24px;
    height: 43px;
    left: -1px;
    line-height: 41px;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,.3);
    top: -1px;
    width: 48px;
}
.top-bar .notif p
{
    font-size: 11px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 1px 1px #fff;
    vertical-align: middle;
    white-space: nowrap;
}
.top-bar .notif p strong
{
    color: #222;
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
}
.tb-act button
{
    float: left;
    height: 39px;
}
.tb-act button .icon
{
    font-size: 21px;
}
.coll-handle
{
    background-color: #e0e0e0;
    border-radius: 4px;
    bottom: 10px;
    box-shadow: inset 0 0 2px 1px #bbb,0 1px 0 #fff;
    color: #888;
    cursor: pointer;
    display: none;
    height: 16px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 16px;
}
.coll-handle:before
{
    content: '\f48a';
    font-family: Icons;
    font-size: 10px;
    line-height: 16px;
    text-shadow: 0 1px 0 #eaeaea;
}
.dark .top-bar .item
{
    box-shadow: inset 1px 0 1px rgba(255,255,255,.1);
}
.dark .top-bar .item-icon
{
    color: #222!important;
    text-shadow: 0 1px 1px rgba(255,255,255,.2);
}
.dark .coll-handle
{
    border: 1px solid #333;
    box-shadow: inset 0 0 2px 1px #bbb,0 1px 0 #888;
    height: 18px;
    width: 18px;
}
.dark .expand-content
{
    box-shadow: none!important;
}
.dark .top-bar .notif
{
    background-color: #505050;
    border-color: #111;
    box-shadow: inset 0 1px 6px #444,0 1px 0 rgba(255,255,255,.2);
}
.dark .top-bar .notif p
{
    color: #ddd;
    text-shadow: 0 1px 0 #111;
}
.dark .top-bar .notif p strong
{
    color: #eee;
}
.dark .top-bar .notif .icon
{
    border-color: rgba(0,0,0,.8);
}
.nav-box
{
    padding-top: 39px;
    position: relative;
}
.nav-box .nav
{
    background: #eee;
    border: 1px solid #9e9e9e;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 1px 1px #fff;
    float: left;
    height: 40px;
    left: -1px;
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -1px;
    width: auto;
}
.nav-box .nav li
{
    background: 0 0;
    border-right: 1px solid rgba(0,0,0,.4);
    color: #555;
    float: left;
    font-size: 11px;
    font-weight: 700;
    height: 38px;
    min-width: 46px;
    moz-transition: all .3s ease;
    o-transition: all .3s ease;
    overflow: hidden;
    padding: 0 14px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    transition: all .3s ease;
    vertical-align: middle;
    webkit-transition: all .3s ease;
}
.nav-box .nav li:hover
{
    background: rgba(255,255,255,.3);
    cursor: pointer;
}
.nav-box .nav>li:first-child
{
    border-top-left-radius: 3px;
}
.nav-box.right .nav>li:first-child
{
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
}
.nav-box.btm .nav>li:first-child
{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0;
}
.nav-box .nav-icon
{
    color: #727272;
    display: inline-block;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    margin-right: 8px;
    text-align: center;
    vertical-align: -4px;
    width: 24px;
}
.nav-box .text
{
    line-height: 38px;
}
.nav-box .text .nav-icon
{
    margin-right: 8px;
    vertical-align: -4px;
    width: auto;
}
.nav-box .icon-only .nav-icon
{
    margin: 0 auto;
}
.nav-box .nav .sel
{
    background: rgba(0,0,0,.04)!important;
    box-shadow: inset 0 1px 5px rgba(0,0,0,.12)!important;
}
.nav-box .sel,.nav-box .sel .nav-icon
{
    color: #777!important;
}
.nav-box .nav.dark
{
    background: #6b6b6b!important;
    border-color: #333;
    box-shadow: inset -1px 0 8px #555!important;
}
.nav-box .dark li
{
    border: 0!important;
    color: #eee;
    text-shadow: 0 1px 1px #333;
}
.nav-box .dark .nav-icon
{
    color: #eee;
}
.nav-box .dark .sel
{
    background: rgba(0,0,0,.1)!important;
    box-shadow: none!important;
}
.nav-box .dark .sel .nav-icon
{
    text-shadow: 0 1px 1px #333,1px 1px 6px #54bbff;
}
.nav-box .dark .sel,.nav-box .dark .sel .nav-icon
{
    color: #ddd!important;
}
.nav-box .dark li:hover
{
    background: rgba(0,0,0,.05);
}
.nav-box.left
{
    padding-left: 47px!important;
}
.nav-box.left .nav
{
    border-radius: 4px 0 0 4px;
    right: auto;
}
.nav-box.right
{
    padding-right: 47px!important;
}
.nav-box.right .nav
{
    border-radius: 0 4px 4px 0;
    left: auto;
    right: -1px;
}
.nav-box.btm
{
    padding-bottom: 39px;
}
.nav-box.btm .nav
{
    border-radius: 0 0 4px 4px;
    bottom: -1px;
    top: auto;
}
.nav-box.left .nav,.nav-box.right .nav
{
    bottom: -1px;
    box-shadow: inset 1px 0 1px #fff;
    height: auto;
    width: 48px;
}
.nav-box.left .nav li,.nav-box.right .nav li
{
    border-bottom: 1px solid rgba(0,0,0,.4);
    border-right: 0;
    box-shadow: inset 0 1px 1px #fff;
    padding: 0;
}
.nav-box .icon-only .nav-icon,.nav-box.left .nav-icon,.nav-box.left .text .nav-icon,.nav-box.right .nav-icon,.nav-box.right .text .nav-icon
{
    margin-right: 0;
}
.nav-box.nav-big
{
    padding-top: 55px;
}
.nav-box.nav-big .nav
{
    height: 56px;
}
.nav-box.nav-big .nav li
{
    height: 54px;
    width: 66px;
}
.nav-box.nav-big .nav-icon
{
    height: 34px;
    line-height: 34px;
    width: 100%;
}
.nav-big .icon-only .nav-icon,.nav-box.nav-big .text
{
    line-height: 54px;
}
.nav-box.btm,.nav-box.left,.nav-box.right
{
    padding-top: 0;
}
.nav-box.btm.nav-big
{
    padding-bottom: 55px;
}
.nav-box.left.nav-big
{
    padding-left: 67px!important;
}
.nav-box.right.nav-big
{
    padding-right: 67px!important;
}
.nav-box.left.nav-big .nav,.nav-box.right.nav-big .nav
{
    height: auto;
    width: 68px;
}
.nav-box.left .dark li,.nav-box.right .dark li
{
    box-shadow: none;
}
.nav-cont
{
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.nav-item
{
    float: left;
    height: 100%;
    left: -100%;
    moz-transition: all .4s ease;
    opacity: 0;
    o-transition: all .4s ease;
    padding-right: 2%;
    position: absolute!important;
    top: 0;
    transition: all .4s ease;
    visibility: hidden;
    webkit-transition: all .4s ease;
    width: 100%;
}
.nav-item.show
{
    left: 0;
    opacity: 1;
    position: relative!important;
    visibility: visible;
}
.vt .nav-item
{
    left: auto;
    margin-top: -100%;
    position: relative;
    top: auto;
}
.vt .nav-item.show
{
    margin-top: 0;
}
.nav-special
{
    border: 0!important;
    height: auto!important;
    padding: 0!important;
    position: absolute;
    right: 0;
    top: 0;
    width: auto!important;
}
.nav .nav-special li
{
    background-color: rgba(0,0,0,.03);
    border-left: 1px solid rgba(0,0,0,.4);
    border-right-width: 0;
}
.nav-box.left .nav-special,.nav-box.right .nav-special
{
    bottom: 0;
    top: auto;
}
.nav-box.left .nav-special li,.nav-box.right .nav-special li
{
    border-bottom-width: 0!important;
    border-left-width: 0!important;
    border-top: 1px solid rgba(0,0,0,.4);
}
.nav.dark .nav-special li
{
    background-color: rgba(255,255,255,.1);
    border-left: 1px solid #333!important;
    box-shadow: inset 0 1px 0 #999;
}
.nav-box.left .nav.dark .nav-special li,.nav-box.right .nav.dark .nav-special li
{
    border-bottom-width: 0!important;
    border-left-width: 0!important;
    border-top: 1px solid #333!important;
}
.dark .nav-box .nav
{
    background: #ddd;
    border-color: #333;
}
.nav-menu li
{
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.02),rgba(0,0,0,.02));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.02),rgba(0,0,0,.02));
    border-right: 1px solid rgba(0,0,0,.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.06);
    padding: 0 20px;
}
.nav-menu li:hover
{
    font-weight: 700;
}
.nav-menu li.sel,.nav-menu li:active
{
    background: rgba(0,0,0,.04)!important;
}
.nav-menu li:first-of-type
{
    border-radius: 3px 0 0 3px;
}
.breadcrumbs li
{
    padding: 0 0 0 15px;
}
.breadcrumbs li:hover
{
    color: #999;
}
.breadcrumbs li:after
{
    content: '/';
    font-size: 14px;
    margin-left: 15px;
}
.breadcrumbs,.nav-menu
{
    height: 100%;
}
.breadcrumbs li,.nav-menu li
{
    cursor: pointer;
    float: left;
    height: 40px;
    line-height: 40px;
    moz-transition: all .2s ease;
    o-transition: all .2s ease;
    transition: all .2s ease;
    webkit-transition: all .2s ease;
}
.breadcrumbs li.sel,.nav-menu li.sel
{
    color: #777;
    font-weight: 700;
}
.dark .breadcrumbs li.sel,.dark .breadcrumbs li:hover,.dark .nav-menu li.sel
{
    color: #bbb;
}
.wizard .nav li
{
    border-color: rgba(0,0,0,.2);
    line-height: 38px;
    overflow: visible;
    padding: 0 30px;
    position: relative;
}
.wizard .nav li.sel
{
    background: transparent!important;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,transparent 50%)!important;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.05) 0,transparent 50%)!important;
    box-shadow: none!important;
}
.wizard .nav li .arrow
{
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
    position: absolute;
    right: -11px;
    top: 50%;
    width: 20px;
    z-index: 9;
}
.wizard .nav .complete .arrow
{
    color: #4b96cf;
}
.wizard.nav-big .nav li
{
    line-height: 54px;
    width: auto;
}
.wizard .nav-act
{
    bottom: 0;
    left: 0;
    line-height: 28px;
    padding: 10px;
    position: absolute;
    right: 0;
}
.accordion
{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.accordion .section
{
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.014),rgba(0,0,0,.02));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.014),rgba(0,0,0,.02));
    border-bottom: 1px solid #999;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
    cursor: pointer;
    height: 41px;
    line-height: 18px;
    moz-transition: height .3s ease,background-color .1s linear;
    o-transition: height .3s ease,background-color .1s linear;
    overflow: hidden;
    position: relative;
    transition: height .3s ease,background-color .1s linear;
    webkit-transition: height .3s ease,background-color .1s linear;
    width: 100%;
}
.accordion .section:first-of-type
{
    border-radius: 3px 3px 0 0;
}
.accordion .section:last-of-type
{
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
}
.accordion .section:hover
{
    background-color: rgba(0,0,0,.01);
}
.accordion .section.expand
{
    background-color: rgba(255,255,255,.2)!important;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05),transparent);
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.05),transparent);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.03);
}
.accordion .head
{
    font-size: 13px;
    height: 41px;
    line-height: 21px;
    padding: 10px;
    width: 100%;
}
.accordion .head .icon
{
    font-size: 16px;
    margin-right: 10px;
    vertical-align: -4px;
}
.accordion .section-content
{
    padding: 0 10px 10px;
}
.dark .accordion .section
{
    border-color: #333;
    box-shadow: inset 0 1px 0 #777;
}
.dark .accordion .section.expand
{
    background-color: rgba(255,255,255,.05)!important;
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.2),transparent);
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.2),transparent);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.15);
}
.prog-bar
{
    background: #6b6b6b;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: inset 0 0 4px #555,0 1px 0 #fff;
    height: 24px;
    margin-top: 15px;
    padding: 1px;
    position: relative;
}
.prog-bar div
{
    border: 1px solid #444;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,.3),1px 1px 1px #555;
    height: 20px;
    moz-transition: width .4s ease;
    o-transition: width .4s ease;
    transition: width .4s ease;
    webkit-transition: width .4s ease;
}
.prog-bar span
{
    color: #eee;
    font-size: 11px;
    left: 7px;
    line-height: 21px;
    position: absolute;
    text-shadow: 0 1px 0 #555,0 0 2px rgba(0,0,0,.3);
    top: 0;
}
.dark .prog-bar
{
    background: #6f6f6f;
    box-shadow: inset 0 1px 0 #777,0 1px 0 #777;
    padding: 0;
}
.dark .prog-bar div
{
    border-width: 0;
    height: 22px;
    opacity: .8;
    z-index: 1;
}
.dark .prog-bar span
{
    z-index: 2;
}
.tooltip
{
    background-color: #eee;
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.016),rgba(0,0,0,.1))!important;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.016),rgba(0,0,0,.1))!important;
    border: 1px solid #777;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f4f4f4,0 1px 0 rgba(0,0,0,.2);
    color: #444;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    min-height: 26px;
    moz-transition: opacity .3s ease;
    opacity: 0;
    o-transition: opacity .3s ease;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    transition: opacity .3s ease;
    visibility: hidden;
    webkit-transition: opacity .3s ease;
    white-space: nowrap;
    z-index: 9999;
}
.tooltip.show
{
    opacity: .95;
    visibility: visible;
}
.tooltip.dark
{
    background-color: #444;
    border-color: #333;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.04),0 1px 0 rgba(0,0,0,.5);
    color: #ddd;
    text-shadow: 0 1px 0 #333;
}
.dark .tooltip
{
    border-color: #333;
}
.notif, .notifff, .alert
{
    background-color: #5b5a5a;
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.016),rgba(0,0,0,.1))!important;
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.016),rgba(0,0,0,.1))!important;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.1);
    color: #ddd;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 14px;
    /*margin-top: 20px;*/
    moz-transition: all .4s ease;
    opacity: .75;
    o-transition: all .4s ease;
    overflow: hidden;
    padding: 8px 30px 10px 10px;
    position: relative;
    text-shadow: 0 1px 1px #111;
    transition: all .4s ease;
    webkit-transition: all .4s ease;
    width: 95%;
    margin: 20px auto 0;
    direction: ltr;
    float: none;
    text-align: left;
}
.notif:hover
{
    opacity: .9;
}
.notif p,.notifff p
{
    float: left;
    line-height: 14px;
}
.notif .icon,.notifff .icon
{
    bottom: 0;
    display: block;
    font-size: 18px;
    margin-top: -7px;
    moz-transition: font-size .3s ease;
    o-transition: font-size .3s ease;
    position: absolute;
    right: 8px;
    top: 50%;
    transition: font-size .3s ease;
    webkit-transition: font-size .3s ease;
}
.notif .nt-det,.notifff .nt-det
{
    float: left;
    margin-top: 10px;
    white-space: normal;
    width: 100%;
}
.notif.auto,.notifff.auto
{
    height: auto;
}
.notif.expanded,.notifff.expanded
{
    height: auto;
    padding: 10px 40px 6px 10px;
}
.notif.expanded .icon,.notifff.expanded .icon
{
    font-size: 23px;
}
.notif.no-icon,.notifff.no-icon
{
    padding: 10px;
}
.notif.hide,.notifff.hide
{
    height: 0;
    margin: 0!important;
    opacity: 0;
    padding: 0 26px 0 10px;
}
.alert-info{

    direction: ltr;
    float: none;
    text-align: left;
}
#content>.notif
{
    margin-right: 25px;
    margin-top: 25px;
}
.alert
{
    line-height: 18px;
    position: relative;
}
.alert.warn
{
    color: #db954b!important;
}
.alert.warn:before
{
    content: '\f316';
}
.alert.danger
{
    color: #cc7358!important;
}
.alert.danger:before
{
    content: '\f27f';
}
.alert.info
{
    color: #65adc7!important;
}
.alert.info:before
{
    content: '\f315';
}
.alert:before
{
    font-family: Icons;
    font-size: 16px;
    margin-right: 10px;
    vertical-align: -3px;
}
.list li
{
    line-height: 16px;
    margin-bottom: 10px;
}
.list li .icon
{
    margin-right: 10px;
}
.list li input
{
    height: 28px;
    margin: 4px 10px;
}
.modal-ov
{
    background-color: rgba(0,0,0,.4);
    height: 100%;
    left: 0;
    moz-transition: opacity .4s linear,visibility .4s linear;
    opacity: 0;
    o-transition: opacity .4s linear,visibility .4s linear;
    position: fixed;
    top: 0;
    transition: opacity .4s linear,visibility .4s linear;
    visibility: hidden;
    webkit-transition: opacity .4s linear,visibility .4s linear;
    width: 100%;
    z-index: 9999;
}
.modal-ov.show
{
    opacity: 1;
    visibility: visible;
}
.modal
{
    border-color: #333;
    bottom: 50%;
    color: #555;
    left: -100%;
    margin: 0 0 0 -210px!important;
    opacity: 0;
    position: absolute;
    top: auto;
    visibility: hidden;
    width: 420px;
    z-index: -1;
}
.modal.show
{
    left: 50%;
    opacity: 1;
    visibility: visible;
    z-index: 9;
}
.box .modal-ov
{
    position: absolute;
    right: 0;
}
.box .modal
{
    bottom: auto;
    top: 60px;
}
.modal .header
{
    cursor: default;
}
.modal>p
{
    box-shadow: inset 0 1px 0 rgba(255,255,255,.06);
    float: left;
    line-height: 16px;
    padding: 10px;
    width: 100%;
}
.mod-body
{
    box-shadow: inset 0 1px 0 #fff;
    float: left;
    font-size: 12px;
    height: auto;
    min-height: 30px;
    overflow: hidden;
    padding: 10px 10px 0;
    position: relative;
    text-shadow: 0 1px 1px #fff;
    width: 100%;
}
.mod-body .nav-item
{
    padding: 0;
}
.mod-body p
{
    margin-bottom: 10px;
}
.mod-body p .icon
{
    margin-right: 10px;
}
.mod-act
{
    background-color: #ddd;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #999;
    box-shadow: inset 0 0 1px 1px #f0f0f0;
    float: left;
    position: relative;
    width: 100%;
}
.mod-act .button,.mod-act .buttons,.mod-act button
{
    height: 28px;
    margin: 6px;
}
.mod-nav
{
    float: left;
}
.mod-nav li
{
    border-right: 1px solid #888;
    box-shadow: inset 0 0 1px 1px #f0f0f0;
    color: #444;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: 100%;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.1);
    width: 50px;
}
.mod-nav li:first-child
{
    border-radius: 0 0 0 3px;
}
.mod-nav li .icon
{
    line-height: 40px;
}
.mod-nav li.sel
{
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    color: #555;
    text-shadow: 0 1px 1px #fff;
}
.mod-nav li:hover
{
    background-color: rgba(255,255,255,.02);
    box-shadow: inset 0 0 6px rgba(255,255,255,.08);
}
.close .icon-remove
{
    font-size: 12px;
}
.close:hover .icon-remove
{
    color: #de6b59;
}
.modal .header button.close
{
    float: right;
    margin: 5px;
    padding: 0 8px;
}
.mod-act button.close
{
    float: right;
    padding: 0 16px;
    width: 80px;
}
.modal.mini .header,.modal.mini .mod-act,.modal.mini .mod-body
{
    background: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}
.modal.mini .mod-body
{
    padding-top: 0;
}
.dark .modal-ov
{
    background-color: rgba(255,255,255,.2);
}
.dark .modal
{
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: #777;
}
.dark .mod-body
{
    box-shadow: inset 0 1px 0 #707070;
    color: #ccc;
    text-shadow: 0 1px 0 #444;
}
.dark .mod-act
{
    background-color: #777;
    border-color: #333;
    box-shadow: inset 0 1px 0 #999;
}
.tag
{
    border-radius: 3px;
}
.badge,.tag
{
    font-size: 11px;
    font-weight: 700;
    opacity: .9;
}
.badge,.sel-tag,.tag
{
    border: 1px solid rgba(0,0,0,.3)!important;
    float: left;
    line-height: 22px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0 8px;
}
.sel-tag
{
    border-radius: 1px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.5),0 1px 1px rgba(0,0,0,.1);
    font-size: 11px;
    padding: 0 0 0 8px;
    position: relative;
}
.tag.inline
{
    display: inline-block;
    float: none;
    margin: 0 6px;
}
.badge
{
    border-radius: 10px;
    float: left;
    height: 24px;
    text-align: center;
}
.dark .badge,.dark .sel-tag,.dark .tag
{
    border-color: rgba(0,0,0,.5)!important;
}
.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea
{
    font-size: 12px;
}
.ui-widget-content a
{
    color: #555;
}
.ui-state-active
{
    font-weight: 700;
}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled
{
    background-image: none;
    opacity: .4;
}
.ui-helper-hidden
{
    display: none;
}
.ui-helper-hidden-accessible
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-widget-overlay
{
    background: rgba(255,255,255,.15);
    opacity: 1;
}
.ui-corner-all
{
    border-radius: 3px;
}
.ui-helper-clearfix:after,.ui-helper-clearfix:before
{
    content: "";
    display: table;
}
.ui-helper-clearfix:after
{
    clear: both;
}
.ui-tabs
{
    padding: 0;
    position: relative;
}
.ui-tabs .ui-tabs-nav
{
    line-height: 29px;
    margin: 0;
    padding: 6px 6px 0;
}
.ui-tabs .ui-tabs-nav li
{
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    float: left;
    height: 30px;
    list-style: none;
    margin: 0 6px 0 0;
    padding: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a
{
    float: left;
    padding: 0 6px;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-tabs-active a,.ui-tabs .ui-tabs-nav li.ui-tabs-loading a
{
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a,.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a
{
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel
{
    background: 0 0;
    border-width: 0;
    display: block;
    padding: 10px;
}
.dark .ui-widget-content a
{
    color: #ddd;
}
.ui-slider
{
    background-color: #6b6b6b!important;
    border: 1px solid #333!important;
    border-radius: 4px;
    box-shadow: inset 0 0 4px #555,0 1px 0 #fff;
    position: relative;
    text-align: left;
}
.ui-slider-handle
{
    background-color: #ddd;
    border: 1px solid #333!important;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    cursor: default;
    moz-transition: all .3s ease,left 0,bottom 0;
    padding-left: 1px;
    position: absolute;
    webkit-transition: all .3s ease,left 0,bottom 0;
    z-index: 2;
}
.ui-slider-handle:hover
{
    background-color: #eee;
}
.ui-slider-handle.ui-state-focus
{
    background-color: #eee;
    box-shadow: inset 0 0 1px 1px rgba(255,255,255,.3),0 1px 2px rgba(0,0,0,.3);
}
.ui-slider-handle.ui-state-focus .handle-txt
{
    color: #222;
}
.ui-slider-range
{
    background-color: #aaa;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.16);
    display: block;
    padding: 0;
    position: absolute;
    z-index: 1;
}
.red>.ui-slider-range
{
    background-color: #de6b59;
    border-color: #3d0800;
}
.blue>.ui-slider-range
{
    background-color: #4b96cf;
}
.green>.ui-slider-range
{
    background-color: #89ab0f;
}
.orange>.ui-slider-range
{
    background-color: #e6ad3c;
}
.purple>.ui-slider-range
{
    background-color: #C97EC4;
}
.ui-slider-horizontal
{
    height: 20px;
}
.ui-slider-horizontal .ui-slider-handle
{
    height: 20px;
    margin-left: -11px;
    top: -1px;
    width: 24px;
}
.ui-slider-horizontal .ui-slider-range
{
    bottom: 2px;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    top: 2px;
}
.ui-slider-horizontal .ui-slider-range-min
{
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max
{
    right: 0;
}
.ui-slider-vertical
{
    min-height: 50px;
    width: 20px;
}
.ui-slider-vertical .ui-slider-handle
{
    height: 24px;
    left: -2px;
    margin-bottom: -12px;
    width: 22px;
}
.ui-slider-vertical .ui-slider-handle .handle-txt
{
    line-height: 20px;
    moz-transform: rotate(-90deg);
    webkit-transform: rotate(-90deg);
}
.ui-slider-vertical .ui-slider-handle.mgfix
{
    margin-bottom: -20px;
}
.ui-slider-vertical .ui-slider-range
{
    left: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    right: 2px;
    width: auto;
}
.ui-slider-vertical .ui-slider-range-min
{
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max
{
    top: 0;
}
.ui-slider .grade
{
    color: #222;
    font-size: 11px;
    font-weight: 700;
    left: 0;
    line-height: 18px;
    opacity: .8;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: auto;
}
.ui-slider-vertical .grade
{
    line-height: 20px;
}
.dark .ui-slider
{
    background-color: #6f6f6f!important;
    box-shadow: inset 0 1px 0 #777,0 1px 0 #777;
}
.dark .ui-slider-range
{
    border-width: 0;
    margin: 0;
}
.dark .ui-slider-horizontal .ui-slider-range
{
    bottom: 0;
    top: 0;
}
.dark .ui-slider-vertical .ui-slider-range
{
    left: 0;
    right: 0;
}
.ui-datepicker
{
    margin: 0!important;
}
.ui-datepicker-header
{
    float: none!important;
    overflow: hidden;
    width: auto!important;
}
.ui-datepicker-title
{
    bottom: 0;
    left: 48px;
    position: absolute;
    right: 48px;
    text-align: center;
    top: 0;
}
.ui-datepicker td,.ui-datepicker th
{
    color: #444;
    text-align: center;
    width: 48px;
}
.ui-datepicker tbody tr:last-child td:first-child
{
    border-radius: 0 0 0 3px;
}
.ui-datepicker tbody tr:last-child td:last-child
{
    border-radius: 0 0 3px;
}
.ui-datepicker-next,.ui-datepicker-prev
{
    bottom: 6px;
    font-size: 20px!important;
    line-height: 26px!important;
    padding: 0!important;
    position: absolute;
    text-indent: 2px!important;
    top: 6px;
    width: 34px;
}
.ui-datepicker-prev
{
    left: 6px;
}
.ui-datepicker-next
{
    right: 6px;
}
.scroll
{
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.scroll-cont
{
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.scroll-cont:focus
{
    outline: 0;
}
.scroll-cont::-webkit-scrollbar
{
    visibility: hidden;
}
.scroll.has-scrollbar .scroll-cont::-webkit-scrollbar
{
    visibility: visible;
}
.scroll-active .scroll-cont
{
    overflow: scroll;
    overflow-x: hidden;
    right: -17px;
}
.scroll>.pane
{
    bottom: 1px;
    moz-transition: .4s;
    opacity: .001;
    o-transition: .4s;
    position: absolute;
    right: 1px;
    top: 1px;
    transition: .4s;
    webkit-transition: .4s;
    width: 6px;
}
.scroll>.pane>.slider
{
    background: rgba(0,0,0,.3);
    border-radius: 2px;
    position: relative;
}
.dark .scroll>.pane>.slider
{
    background: rgba(255,255,255,.4);
}
.pane.active,.pane.flashed,.scroll-cont:hover>.pane,.scroll:hover>.pane
{
    cursor: pointer;
    opacity: .8;
}
.minicolors
{
    display: block;
    position: relative;
    z-index: 1;
}
.minicolors-focus
{
    z-index: 2;
}
.minicolors-hidden
{
    left: -9999em;
    position: absolute;
}
.minicolors-swatch
{
    background: url(../img/minicolors.png) -80px 0;
    border-radius: 3px;
    box-shadow: 0 1px 0 #f0f0f0;
    display: inline-block;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    vertical-align: middle;
    width: 20px;
}
.minicolors-swatch span
{
    background: 0 0;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.2);
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.minicolors-panel
{
    background: #5b5a5a;
    border: 1px solid #444;
    border-radius: 4px;
    display: none;
    height: 152px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 34px;
    width: 172px;
}
.minicolors-position-top .minicolors-panel
{
    top: -156px;
}
.minicolors-position-left .minicolors-panel
{
    left: 0;
}
.minicolors-position-left.minicolors-with-opacity .minicolors-panel
{
    left: -104px;
}
.minicolors-with-opacity .minicolors-panel
{
    width: 194px;
}
.minicolors .minicolors-grid
{
    background: url(../img/minicolors.png) -120px 0;
    border-radius: 3px 0 0 3px;
    cursor: default;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}
.minicolors .minicolors-grid-inner
{
    background: 0 0;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}
.minicolors-slider-saturation .minicolors-grid
{
    background-position: -420px 0;
}
.minicolors-slider-saturation .minicolors-grid-inner
{
    background: url(../img/minicolors.png) -270px 0;
}
.minicolors-slider-brightness .minicolors-grid
{
    background-position: -570px 0;
}
.minicolors-slider-brightness .minicolors-grid-inner
{
    background: #000;
}
.minicolors-slider-wheel .minicolors-grid
{
    background-position: -720px 0;
}
.minicolors-opacity-slider,.minicolors-slider
{
    background: #fff url(../img/minicolors.png) 0 0;
    border-radius: 0 3px 3px 0;
    cursor: default;
    height: 150px;
    left: 151px;
    position: absolute;
    top: 0;
    width: 20px;
}
.minicolors-slider-saturation .minicolors-slider
{
    background-position: -60px 0;
}
.minicolors-slider-brightness .minicolors-slider,.minicolors-slider-wheel .minicolors-slider
{
    background-position: -20px 0;
}
.minicolors-opacity-slider
{
    background-position: -40px 0;
    display: none;
    left: 173px;
}
.minicolors-with-opacity .minicolors-opacity-slider
{
    display: block;
}
.minicolors-grid .minicolors-picker
{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.4);
    height: 8px;
    left: 70px;
    margin-left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 70px;
    width: 8px;
}
.minicolors-picker
{
    background: #000;
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 0;
    width: 20px;
}
.minicolors-inline .minicolors-swatch,.minicolors-inline input
{
    display: none;
}
.minicolors-inline .minicolors-panel
{
    display: inline-block;
    left: auto;
    position: relative;
    top: auto;
}
#toast-container
{
    margin: 0;
    position: fixed;
    z-index: 999999;
}
.toast-top-full
{
    left: 10px;
    right: 10px;
    top: 10px;
    width: auto;
}
.toast-bottom-full
{
    bottom: 0;
    left: 10px;
    right: 10px;
    width: auto;
}
.toast-top-left
{
    left: 10px;
    top: 10px;
}
.toast-top-right
{
    right: 10px;
    top: 10px;
}
.toast-bottom-right
{
    bottom: 0;
    right: 10px;
}
.toast-bottom-left
{
    bottom: 0;
    left: 10px;
}
.toast
{
    background-image: -moz-linear-gradient(top,rgba(255,255,255,.18),transparent);
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,.18),transparent);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.2),0 1px 4px rgba(0,0,0,.2);
    margin: 0 0 10px;
    opacity: .95;
    padding: 10px 10px 10px 44px;
    position: relative;
    width: 300px;
}
.toast:hover
{
    cursor: pointer;
    opacity: 1;
}
.toast-bottom-full .toast,.toast-top-full .toast
{
    width: 100%!important;
}
.toast-title
{
    font-size: 15px;
    margin-bottom: 6px;
}
.toast-message,.toast-title
{
    font-weight: 700;
}
.toast-message
{
    font-size: 12px;
    word-wrap: break-word;
}
.toast-message:before
{
    font-family: Icons;
    font-size: 16px;
    left: 14px;
    line-height: 16px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
}
.toast-success .toast-message:before
{
    content: '\2713';
}
.toast-error .toast-message:before
{
    content: '\00d7';
}
.toast-info .toast-message:before
{
    content: '\f158';
}
.toast-warning .toast-message:before
{
    content: '\f316';
}